[2014-08-20 21:22] BillMills opened #1 "Extract basic data from blast-phagesdb.txt"
http://phagesdb.org/ provides an interface to freely query a large database of phage information by chunks of genome sequence, some example results of which can be found in `blast-phagesdb.txt` (for the super keen, the query is made using the fasta file, `velvet-distinct-spacers.fasta`, also included, just for interest's sake).  phagesdb.org tries to provide the best possible matches to the querie

[2014-08-20 21:59] BillMills opened #2 "Genome Fetcher"
Once a match is found between some genetic code of interest and a phage via the process described in #1, it's interesting to learn about the surrounding genetic code in the phage; not just the matched string that the BLAST query returned, but what genes are nearby that sequence, as well.  The BLAST query doesn't give us this; we need to find that information elsewhere.

NCBI provides a command-lin

[2014-08-20 22:07] BillMills opened #3 "Genome Extractor"
As described in #2, we want to know more about a phage than just what genes matched our query; we want to know what sequences surround that match too.  In #2 we described some functions for fetching complete genome datasets from genbank; now we need to extract the relevant information from those results.

We need a python function `findNeighbours(startPosition, endPosition, n, m)` that examines th

[2014-10-10 00:31] bsbarkur opened #5 "Bharat Shetty Barkur: new volunteer via Mozilla Science Lab Collaborate"
I've been interested in Bioinformatic data analysis since my stint at a Comp-Bio company. I want to contribute to open source in this arena.<p><br><blockquote>This issue was created by @bsbarkur via <a href='http://collaborate.mozillascience.org'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2014-10-10 04:49] shirishgoyal opened #6 "Shirish Goyal: new volunteer via Mozilla Science Lab Collaborate"
Analyzing open genetic data to find useful information for micro world<p><br><blockquote>This issue was created by @shirishgoyal via <a href='http://collaborate.mozillascience.org'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2014-10-11 04:50] #6 closed, assigned to nobody

[2014-10-15 23:36] jobliz opened #8 "José: new volunteer via Mozilla Science Lab Collaborate"
I'm a Python developer with numpy/scipy experience, coming from a year working with solid state kinetics. I know this is quite a different field from this project's focus, but current epidemics have made me become interested in bioinformatics, and given that I've seen that it is indeed possible to use my knowledge of solid state kinetics in pharmaceutical topics, this project has gotten my interes

[2014-10-16 21:13] HELYAR1 opened #9 "HELYAR1: new volunteer via Mozilla Science Lab Collaborate"
I like to help people in every possible way<p><br><blockquote>This issue was created by @HELYAR1 via <a href='http://collaborate.mozillascience.org'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2014-10-28 15:30] felipenmoura opened #10 "Felipe Nascimento de Moura: new volunteer via Mozilla Science Lab Collaborate"
I've always been interested in genes, chemistry, phiisics...etc, but had never had time, or meanings to work or learn more about it!
I think this initiative is quite interesting and appealing!
Working for about 10 years with technology/programming/analysing/building/modelling, I have worked at Terra Networks as a Senior Web Developer and Analyst.
I'm passionate about music, movies, etc.<p><br><blo

[2014-10-29 21:56] anderson89marques opened #11 "anderson89marques: new volunteer via Mozilla Science Lab Collaborate"
Hi, i'am Anderson Marques from Belém, Pará, Brasil (Brazil).
I'm Computer Science student.

My interest is to work on a project whose outcome may help people.

i'm python(i like more) programer.
i program too in Java, C/C++, Android, Grails...

I don't know about medicine area, but if you help me understand better this area, i can help this project too.

Sorry my bad english, i am studying to make

[2014-11-10 19:39] abhirathb opened #12 "abhirathb: new volunteer via Mozilla Science Lab Collaborate"
Hi all,
I am a third year student from India. I'm a part of a program specifically for the confluence of Computer Science and Natural Sciences in IIIT-Hyderabad.  Thus I have decent knowledge of biological systems and am also well trained in Computer Science.
I hope to prove useful!<p><br><blockquote>This issue was created by @abhirathb via <a href='http://collaborate.mozillascience.org'>Mozilla S

[2015-02-11 14:10] mbonsma commented on #2
Hi Bill, I'm a Master's student in Sid's group working on bacteria-phage interactions.

"Nuccore", to the best of my knowledge, refers to the NCBI Nucleotide Database, which itself includes a few other databases. It seems like a fine choice of database, since it looks like it contains the broadest data. It's good to know that it could be changed though.

I'm not sure what rettype="gb" means though

[2015-02-14 07:07] BillMills commented on #2
Cool, thanks @mbonsma for clearing that up - actually, I've been meaning to come back to this, since I was chatting with some bioinformatics people the other day, and they pointed out that it's really important to query NCBI properly (via biopython), lest we run afoul of their access policies - but as I mentioned above, biopython appears to be a dependency here, so I think we're ok.

Anyway - I'd

[2015-02-21 04:04] BillMills commented on #1
Shirish's implementation looks good by eye - somebody write some tests for this and we'll be good to close this issue out.

[2015-03-05 17:00] natchar opened #13 "Natchar: new volunteer via Mozilla Science Lab Collaborate"
<p><br><blockquote>This issue was created by @natchar via <a href='http://collaborate.mozillascience.org'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2015-03-06 20:56] mbonsma opened #14 "CRISPR Database Parser"
We want to automate collection of a list bacteria and their spacers from a CRISPR database and format each bacterium into a separate query for a phage database.

To probe interactions between bacteria and phages, we can use all the known reference CRISPRs, conveniently organized at [CRISPRdb](http://crispr.u-psud.fr/crispr/), to get a list of over a thousand bacteria, archaea, and their spacers. C

[2015-03-06 21:06] mbonsma opened #15 "Automate PhageDB Blast"
Given files containing bacterial spacers and labeled with the bacteria name as described in #14, we next want to find out which phages match up with the spacers in each bacterial CRISPR. To do this, we want to BLAST each file against [this phage database](http://phagesdb.org/) and save the output to a file.

This could be approached in several ways and is open to modification. It may turn out to b

[2015-03-06 21:12] mbonsma opened #16 "Generate Interaction List"
After obtaining and sorting a list of bacteria and their spacers ( #14  ), BLASTing the spacers against the phage database ( #15 ), and cleaning up the output ( #1 ), we want a nice list of bacteria and which phages they interact with that can be used to do analysis or create visualizations.

For each bacteria species identified earlier, we want a file of interactions that looks something like thi

[2015-03-06 21:28] mbonsma opened #17 "Visualize Interactions"
Given a file containing a list of bacteria and the phages they interact with ( #16 ), it would be very cool to have a way of visualizing this. The best practical implementation might depend on how many bacteria and phages we're dealing with. This issue is wide open to all kinds of ideas and playing around.

Nice features would include a way of indicating the number of hits between each bacteria an

[2015-03-06 21:30] mbonsma opened #18 "Create PhageParser Test Suite"
It would be good to have tests for various aspects of what's been implemented here.

[2015-03-06 21:42] BillMills commented on #16
Depending on how we tackle #17, different things might make sense for storing this info; could be a simple JSON encoding for easy consumption by a web app, or stuffing it into a database - suggestions welcome :)

[2015-03-06 22:15] BillMills commented on #1
testing got bumped to #18 - closing out here.

[2015-03-06 22:15] #1 closed

[2015-03-07 01:36] mbonsma commented on #13
Welcome Natchar! I'm Madeleine, one of the project leads for this project.

This weekend is the Toronto Open Science Code Sprint (hosted by Mozilla Science Lab), and lots of us will be hacking away at the issues in the Code Sprint milestone. If you happen to be around, you're most welcome to join, or you can hang out via [Mozilla's IRC channel] (http://www.mozillascience.org/join-the-sciencelab-on

[2015-03-07 01:36] #13 closed

[2015-03-07 01:39] mbonsma commented on #5
Hi Bharat, sorry for leaving you hanging for so long! I'm Madeleine, a new project leader on this project. Your expertise in bioinformatics would be valuable for this project; are there specific things that you've seen here that you'd particularly like to work on?

[2015-03-07 01:39] #5 closed

[2015-03-07 01:44] mbonsma opened #19 "Update ReadMe with links to suggested background literature"
@jobliz suggested adding some recommended reading to the ReadMe for interested folks, and I agree that this is a good idea.

[2015-03-07 01:45] mbonsma commented on #8
Hi José, sorry for the very delayed reply! I've recently become a project leader here, and if you're still interested in contributing we'd love to have you. My own background is in physics with very little bioinformatics as well.

I created an issue ( #19) with your recommendation to add some suggested literature - good idea! I will address that as soon as I can.

[2015-03-07 01:45] #8 closed

[2015-03-07 01:47] mbonsma commented on #9
Sorry for the long wait! If you're still interested in participating, we'd love to have you. Is there anything in particular you'd be interested in working on?

[2015-03-07 01:47] #9 closed

[2015-03-07 01:49] mbonsma commented on #10
Hi Felipe, my apologies for leaving you hanging! I'm a new project lead on this project, and if you're still interested in getting involved, you are most welcome to. Is there anything in particular that caught your eye that you'd like to work on?

[2015-03-07 01:49] #10 closed

[2015-03-07 01:50] mbonsma commented on #12
Hello and welcome! I'm a new project lead, and I'm sorry for the long delay. Your background sounds very relevant to this project - is there anything you've seen here that you'd specifically like to work on?

[2015-03-07 01:50] #12 closed

[2015-03-07 01:52] mbonsma commented on #11
Hi Anderson, I'm a new project lead on this project. I'm sorry for the long delay! If you're still interested in contributing, we'd love to have you. I'm hoping to put up some relevant reading material in the ReadMe soon, so that would be a good place to get your feet wet.

[2015-03-07 01:52] #11 closed

[2015-03-07 18:35] mbonsma commented on #15
Code sprint: we tried just BLASTing the whole file from CRISPRdb on the phage db website, but it complained that it was too long. We agreed that it's probably better to automate the BLASTing of individual files anyway. So now the issue is how to automate that.

We've downloaded [blast+](http://blast.ncbi.nlm.nih.gov/Blast.cgi?PAGE_TYPE=BlastDocs&DOC_TYPE=Download), a BLAST suite that allows you to

[2015-03-07 18:50] mbonsma commented on #15
If/once we can automate running BLAST locally, we also need a way to update the database file from PhagesDB periodically since blast+ requires a local database file. It's not a huge file (~60 MB).

[2015-03-08 23:33] mbonsma commented on #16
JSON was chosen, since that's what cytoscape.js uses. Implemented in `interactions.py`.

[2015-03-08 23:33] #16 closed

[2015-03-08 23:35] mbonsma commented on #15
Everything is shakily working for me now on my Windows machine, implemented in `BLAST_loop.py`. There are lots of strange steps involved, such as updating a bunch of environment variables and making a specific blast database file. See ReadMe for details.

[2015-03-08 23:37] mbonsma commented on #14
Implemented in `CRISPR_db_parser.py`. It's very specific to a certain input file, so this might need to be re-opened if we want to use other input data in the future. I'm creating a new issue for the option improvement step, since it's kind of separate.

[2015-03-08 23:37] #14 closed

[2015-03-08 23:38] mbonsma opened #27 "Bacteria names and info from NCBI accession #"
Using RefSeq accession numbers, we want to extract info from GenBank about bacteria (and possibly also phages). This could all go in a reference file with several columns: accession number, bacteria name (genus and species), strain identifier, and optional other information we might want. The function `acc2gb.py` extracts Genbank files based on a list of one or more accession numbers.

Example out

[2015-03-13 01:48] felipenmoura commented on #10
Hi.
Yeah, sure thing!
I am passioned to science, space, particles, biology, etc...
what could I do to help?
:)

[2015-03-14 18:42] dmfinke opened #28 "dmfinke: new volunteer via Mozilla Science Lab Collaborate"
<p><br><blockquote>This issue was created by @dmfinke via <a href='http://collaborate.mozillascience.org'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2015-03-14 23:04] mbonsma commented on #10
In general, feel free to tackle anything at all in the "Issues" section!

To get started, you could try running the code that other people have created so far to familiarize yourself with the project and also to check if things are working as they should. Some of the usage is described in the `ReadMe`. Related to that: do you know anything about writing tests for code? I have no experience in that

[2015-03-14 23:07] mbonsma commented on #28
Welcome Dayna! So cool that you found us :) Let me know if there's anything in particular you want to work on, or if you have ideas or anything like that.

[2015-03-14 23:07] #28 closed

[2015-03-14 23:15] mbonsma commented on #19
Added Barrangou and Marrafini review paper - this is a good place to start. I'll leave it at that for now in the interest of simplicity.

[2015-03-14 23:15] #19 closed

[2015-03-17 19:32] mbonsma opened #29 "Convert phage identifier headers into phage names"
### Motivation

Given a list of phage identifiers from different databases (currently three) and different formats, it would be good to have a standardized list of just the phage names to make it easier to understand the results. As it is right now, the "phage name" is just the header from the phage genome file, and these differ depending on where we got the phage from.

---
### The function

This

[2015-03-25 16:14] danwchan opened #30 "danwchan: new volunteer via Mozilla Science Lab Collaborate"
Hi, I'm new to python development. I've done a little coding to clean up extracted spreadsheets for use in CellHTS2. I want to see if I can apply myself to something more related to my field (I study Microbiology... mostly wet lab work, infectious disease) and improve my python skills.

I am both interested in the scientific scope of this project and the educational possibility of doing coding! Le

[2015-03-27 17:39] mbonsma commented on #30
Hello and welcome! I'm Madeleine, one of the project leads on this project since February. Cleaning up data files is something we've done a lot in this project so far, so your experience sounds very relevant.

As for what to contribute to, it's really up to you - anything in the Issues section is up for improvement and contributions. You can also make new issues as things come up or if you have id

[2015-03-27 17:39] #30 closed

[2015-05-08 08:43] kinow opened #32 "Create project build"
A build, with some common tool like ant or Make, could help other developers to better understand the project.

The documentation, in especial README, is helpful, but sometimes you just want to see the program workflow without having to read & execute all the commands. Plus, we can leverage from existing projects, like khmer, which is also written mainly in Python.

[2015-05-25 21:39] mbonsma commented on #17
A good first pass at visualization was completed with the help of [cytoscape.js](http://js.cytoscape.org/) during the Toronto Open Science Code Sprint. Relevant files can be found in the [visualization](https://github.com/goyalsid/phageParser/tree/master/visualization) folder, and instructions for use are in the [ReadMe](https://github.com/goyalsid/phageParser/blob/master/README.md#alternative-usa

[2015-05-25 21:39] #17 closed

[2015-05-25 21:45] mbonsma commented on #27
The CRISPRdb website has a [list](http://crispr.u-psud.fr/crispr/BLAST/CRISPRsdatabase) that sort of seems like the right thing, except they're using the NCBI taxon ID instead of the actual sequence accession number.

Example from CRISPRdb file:
243274|Thermotoga maritima MSB8

What we want:
NC_000853,Thermotoga maritima, MSB8

[2015-05-26 17:26] mbonsma commented on #27
The 'Comments' section of the Genbank file often has other information, such as where the organism was isolated, Gram staining, etc. It would be good to have the option to pull other fields if they exist (they may often not).

It will be helpful to be able to access Genbank for other information in general, so I think my previous comment about CRISPRdb can be ignored.

[2015-05-27 19:27] mbonsma opened #34 "Using Make with Windows"
Following @kinow's make build for phageParser, I'm trying to run the example in the ReadMe on my Windows machine.

GnuWin has a [Make utility](http://gnuwin32.sourceforge.net/packages/make.htm) that can be used from the Windows command prompt. It seems to be doing what it should (I can type `make -help` and it shows the help). I assumed that once that was working, I could just use exactly the same

[2015-05-27 20:01] mbonsma commented on #2
The example @BillMills gave (`cat test.accession | python acc2gb.py somename@somehost.com > out.gb`) works great. Incidentally, it seems to work regardless of what type of accession number you give it. For example, I tried `NC_015138`, which is the format that the bacteria and archaea are in, and it also works.

The only thing is that it seems to be returning an abbreviated version of the data - o

[2015-05-27 20:05] mbonsma commented on #34
If it's not immediately obvious, I can always run it on a Linux server I have access to, so it's not too urgent. It might be good to know anyway for other people who want to use Windows though, so thanks for giving it a whirl!

[2015-05-28 08:57] kinow commented on #34
Had problems running in Windows, as I have an old Windows XP VM (yup, XP :). But running make filter_by_expect I get the following message:

[code]

I'll need to get another VM to test that Make target, as that's dynamically created (there's a guard-% that gets resolved to the parameter name, infile in this case).

[2015-05-28 16:16] mbonsma commented on #3
This is biologically relevant to the question of [Protospacer Adjacent Motifs](http://en.wikipedia.org/wiki/Protospacer_adjacent_motif) (PAMs), which are short sequences in the vicinity of viral genome regions that become spacers. Some systems seem to have them, some don't. It will be interesting to have a way to search all hits to viral genomes for PAMs, which this function would provide.

[2015-05-28 17:01] mbonsma opened #35 "Extract CRISPR location in bacterial genome from CRISPR database"
We want to know where in a bacterial genome a particular CRISPR region is. With this information, the Genbank file for an organism can be searched and key features (such as genes) can be identified near CRISPRs.

The [CRISPRdb database](http://crispr.u-psud.fr/crispr/) has a utility to display a file with the properties of an individual CRISPR that also contains the start and end location in the g

[2015-05-28 17:44] mbonsma opened #36 "Determine CRISPR type from Cas genes in bacterial/archaeal genome"
CRISPR loci are generally classified into three types: Type I, Type II, and Type III. The type is based on which particular genes are associated with the locus out of all the known CRISPR-associated (Cas) genes. These Cas genes have descriptive names like 'cas1', 'cas2', 'cas3', and so on.

Cas3, cas9, and cas10 are the signatures of Types I, II, and III respectively. Given a bacterial genome, the

[2015-06-03 14:36] mbonsma opened #37 "Roadmap - Mozilla Global Sprint 2015"
### Overview

The ultimate goal of the Phage Parser project is to automate data gathering from many databases that have to do with bacteria and phages. This is motivated by distinct questions and results in bits of code that are specialized for different end results.

At the Global Sprint, we'll tackle at least one of these end goals - finding which CRISPR type different bacteria have by extractin

[2015-06-03 23:49] kinow commented on #32
I believe this issue can be closed :-)

[2015-06-04 13:08] mbonsma commented on #32
Agreed! Closing it up.

[2015-06-04 13:08] #32 closed

[2015-06-04 14:17] mbonsma commented on #2
Got it - setting `rettype` to `rettype = "gbwithparts"` will fetch the entire record. I changed this in `acc2gb.py`.

[2015-06-04 14:19] mbonsma commented on #2
Now all that remains in this issue is the function `getAccession(name)`.

[2015-06-04 15:45] mbonsma opened #39 "Trim DNA from Genbank downloads"
The function `acc2gb.py` from issue #2 takes a list of accession numbers and downloads all the relevant data from Genbank. We don't need to keep the actual DNA though, and so it would be good to delete the DNA sequence portions of the file to save space and running time.

We need a function that reads in a single large file downloaded from Genbank that potentially contains more than one organism's

[2015-06-04 17:47] daisieh commented on #36
I have some perl functions that do similar things in my repo (https://github.com/daisieh/phylogenomics/tree/master/lib) that might help with this. I don't know if perl is welcome here?

[2015-06-04 17:53] mbonsma commented on #36
(Rewriting IRC comments) I've never used Perl, but there's no point re-inventing the wheel, so go for it!

[2015-06-04 18:42] mbonsma commented on #39
`trimGenbankDNA.py` does this.

[2015-06-04 18:42] #39 closed

[2015-06-04 18:56] daisieh commented on #36
We're looking at this and now I'm realizing: is this just a regex for the genbank file? Like, two regex lines: `m/ORGANISM=/` and then `m/\/product=.*Cas/` or something similar?

[2015-06-04 18:57] daisieh commented on #36
Do you need any other context around the product lines, or literally just the product lines?

[2015-06-04 19:39] mbonsma commented on #36
The only possible context we would want would be the location in the genome of the gene - I think that's a few lines previous. But yeah, simple regex would be fine.

[2015-06-04 19:44] mbonsma commented on #36
You could take a look at #27 after this - it would be very similar. It's not very well-written, but basically it would rely on the same file and just finding other stuff. In fact this issue could probably be combined with that.

[2015-06-04 20:35] daisieh commented on #36
The version I pushed up right now does not get the gene location. I'll do that now.

[2015-06-04 21:33] kinow commented on #32
Thanks!

[2015-06-04 21:39] daisieh commented on #36
@mbonsma, can you explain what you want the output to look like when you say " If it happens to be cas3, cas9, or cas10, update that CRISPR type to I, II, or III respectively"? Do you want to update the genbank file with that information? How do you want it to look?

For example, if the product line says:
[code]
what would you like the output to be?

[2015-06-04 21:52] mbonsma commented on #36
I was thinking a new file, something like a column for the accession number, name, cas proteins, and crispr type(s).

[2015-06-04 21:55] mbonsma commented on #36
So in your example there should be a row with the bacterium name and accession #, 'cas3', and 'type I'.

[2015-06-05 14:54] JJ commented on #18
Are you looking for unit tests?

[2015-06-05 15:00] mbonsma commented on #18
I'm not sure. I don't really know anything at all about tests, so if you have an impression of what would work, let me know. @BillMills, any comments for this?

Basically there are a few different streams of use that one would do for all this code, aka different combinations of scripts you might run depending on what data you want. I'm not sure if that is helpful information.

[2015-06-05 15:02] JJ commented on #2
Let me see if I got this straight. Can `getAccession`  be an independent script? So can it be done in Perl?

[2015-06-05 15:04] mbonsma commented on #17
Check out the 'concentric' layout in cytoscape.js - it seems like a good one to work with bipartite data.

[2015-06-05 15:09] mbonsma commented on #2
Yup. So far everything is modular, so each step is more or less independent. It could be done in perl. And just to clarify, this would be using the file `PhagesDB_data.txt`.

[2015-06-05 15:09] JJ commented on #36
Can I be of help here? I'll go to the other repo.

[2015-06-05 15:11] JJ commented on #36
@daisieh Maybe you could create an issue and assign it to me?

[2015-06-05 15:31] mbonsma commented on #37
#27 and #36 are quite similar, so they could probably be addressed at the same time.

[2015-06-05 16:19] daisieh commented on #36
Some other Vancouver sprinters are taking care of the next part of the task; this is just the first bit of the pipeline.

[2015-06-05 16:43] mbonsma commented on #29
I'm going to take a crack at this one. It's just kind of gunky but it should be straightforward.

[2015-06-05 17:00] JJ commented on #2
Great, thanks!

2015-06-05 17:09 GMT+02:00 mbonsma <notifications@github.com>:

--
JJ

[2015-06-05 17:48] mbonsma commented on #29
I think this should be rolled into `orderByExpect` so we don't have to create a bajillion files at each step. I'll make it separate for starters, but basically it will involve re-writing the CSV to clean up the phage name section. The second column that contains the string `"gi|399498678|ref|NC_018285.1| Streptococcus phage YMC-2011,"` in the example below would be split into two columns, one with

[2015-06-05 18:16] morien commented on #36
submitted a pull request with a new perl script that addresses a good portion of what you're looking for, @mbonsma

can be modified for CAS type, but for now it just counts unique protein products per organism, along with their kingdom (you could load the output into R and do your stats, produce some figures on bacteria vs archea, or whatever you like). a dictionary of all the CAS types/proteins a

[2015-06-05 18:20] mbonsma commented on #36
Looks cool @morien. The Cas type to CRISPR type is very straightforward:

Cas3 -> Type I
Cas9 -> Type II
Cas10 -> Type III

[2015-06-05 20:11] mbonsma commented on #36
Okay boring perl help question: I'm getting an error
[code]

[2015-06-05 20:13] mbonsma commented on #36
Also the server I'm using doesn't have perl 5.14, just 5.10 (which Abby said was buggy), so I changed the `use v5.14` line to `use v5.10`.

[2015-06-05 20:26] daisieh commented on #36
@mbonsma: this isn't a stupid question at all: I think it would be safer to do this without that dependency (File:Slurp:Tiny); I'll rewrite it that way and then your problem will go away.

[2015-06-05 21:01] daisieh commented on #36
@mbonsma: I sent a PR #43 which should run on your machine now.

[2015-06-05 21:09] mbonsma commented on #36
This issue is very nearly done, which is awesome. It might be nice to have `cas_in_gb_v2.pl` write the output to a file instead of printing - is that doable?

[2015-06-05 21:12] mbonsma commented on #2
`getAccession.py` works well, but it would be good to rig it so that it reads in a list of names and outputs a file - similar to the functioning of `acc2gb.py`.

[2015-06-05 21:17] kinow commented on #18
@JJ parts of the code are not parameterised (see https://github.com/goyalsid/phageParser/blob/e231ab4c2ca4de78b65e0a74b41f932ad3c31c37/cleanPhages.py#L87). I think the first task would be to change the code so that you can pass parameters, and also try to isolate each step in the pipeline in classes, so that we can write tests for it.

I've sent a PR and changed the filterByExpect.py (https://gith

[2015-06-05 21:20] mbonsma commented on #18
@kinow, that all sounds great. I agree, parameterising would be very
helpful, and that sounds like a good workflow. Thanks for clarifying!

On Fri, Jun 5, 2015 at 5:17 PM, Bruno P. Kinoshita <notifications@github.com

[2015-06-05 21:27] daisieh commented on #36
Very easy: I can either do it by hand, or you can call it as `perl cas_in_gb_v2.pl input_genbank_file.gb > output.txt`

[2015-06-05 21:43] daisieh commented on #35
@mbonsma, what, in this example, is the "CRISPR locus identifier"?

[2015-06-05 22:05] JJ commented on #36
Can do tomorrow

El viernes, 5 de junio de 2015, Daisie Huang <notifications@github.com>
escribió:

cas_in_gb_v2.pl input_genbank_file.gb > output.txt

https://ci5.googleusercontent.com/proxy/bXmh6FL-1StfuUQgCeQh5u1fPgEHHM9MpGI43mTzNG9aKMUOaWw7wts6QLAEUNyP1sfJHn0fb2qBm09Q6yZ_k3c5zQp-CftNtECyPHG7Fu5EUhReMbp0k6lVfw0cTpDEQky2MTuaHzFKxq4TABF-p-THTsrewQ=s0-d-e1-ft#https://github.com/notifications/beaco

[2015-06-07 01:38] JJ commented on #2
Was this done?

[2015-06-08 19:30] mbonsma commented on #2
My most recent comment - no, that hasn't been done yet.

[2015-06-08 19:33] mbonsma commented on #35
@daisieh, good point, it's not obvious - it's the "Crispr Rank in the sequence", so in the above few lines it would be 5.

[2015-06-09 15:22] mbonsma commented on #29
The function `clean_phages.py` is where this should be added - it basically replaces `orderByExpect.py`.

[2015-06-09 15:24] mbonsma commented on #36
This can be closed - implemented with `cas_in_gb_v2.pl`

[2015-06-09 15:24] #36 closed

[2015-06-09 16:49] mbonsma opened #46 "Perl error when running cas_in_gb_v2.p1"
The script `cas_in_gb_v2.pl` works without error on the file `Genbank_example.txt`, but when I ran `perl cas_in_gb_v2.pl "out_all_cleaned.gb" > output.txt` on a much larger file with ~1300 organisms, I got the error:
[code]

The files should be the same format-wise; the only difference is that the large file has no actual DNA data in it and it's much bigger. (When I ran it on a small subset of the

[2015-06-09 16:55] JJ commented on #46
OMFG. That's Perl internal... sounds like can't swallow such a big file.
Please post that example file, as well as required output.

2015-06-09 18:49 GMT+02:00 mbonsma <notifications@github.com>:

--
JJ

[2015-06-09 19:25] mbonsma commented on #46
Git bash wouldn't let me add a file so big - it's 4800 MB. If you think it's a size issue, I think since a file about 1/4 of the size worked, I'll just do it in pieces.

[2015-06-10 08:35] JJ commented on #46
It's most probably a size issue.

You can upload big files to GitHub is you create a tag and do a Release.
But just upload it to Dropbox or Google Drive so that I can use it as an
example.

[2015-06-10 08:36] JJ commented on #46
Besides, it will probably need refactoring the whole program to deal with
that kind of file, probably work directly on the source, maybe use the
query you used to get the file with SNA or something like that. Please give
me some details so that I can work it out.

[2015-06-10 14:49] mbonsma commented on #46
I'm in the process of uploading the file, I'll send you a link when it's ready. To produce that file, I ran
[code]
(You'll need an NCBI account to run acc2gb.py)

Then I ran `trimGenbankDNA.py`, which produces the file `out_all_cleaned.gb`.

Those scripts and intermediate files are all on Github.

[2015-06-10 15:31] mbonsma commented on #46
Here's a [link](https://drive.google.com/file/d/0B6JZXa8y_013TWE5b2ZwMXpzdE0/view?usp=sharing) to the file `out_all_cleaned.gb`.

[2015-06-10 15:33] JJ commented on #46
OK, I get it. So it's kind of a pipeline, in which case I think, specially
for big amounts of data, which is by definition big data, it would be much
better to use another interchange format, JSON, XML, or whatever. With XML
you have a very efficient stream processing option called SAX which
processes the file as it arrives. Storing it in a database, or a NoSQL
database, would make more efficient

[2015-06-10 15:34] JJ commented on #46
OK, will use it for tests.

2015-06-10 17:31 GMT+02:00 mbonsma <notifications@github.com>:

--
JJ

[2015-06-10 15:35] mbonsma commented on #46
Thanks @JJ, that makes sense to me.

[2015-06-10 15:36] mbonsma commented on #46
And by 'makes sense' I mean 'seems like a good idea'. I don't know much about efficient data pipelines.

[2015-06-10 15:51] JJ commented on #46
Are you available now? Instead of going back and forth we could chat this
out. I'm jjmerelo at gmail or Skype if you prefer (I don't, but well...)

2015-06-10 17:36 GMT+02:00 mbonsma <notifications@github.com>:

--
JJ

[2015-06-10 16:13] mbonsma commented on #46
We can talk now, sure. Do you mean google hangouts or chat?

[2015-06-10 16:57] mbonsma opened #47 "Extract data from Python object generated with NCBI Entrez"
Current use of this project involves a pipeline where you download a bunch of stuff from NCBI using `acc2gb.py` and then run some other scripts to parse stuff. We've run into problems because of large file sizes, and so @JJ suggested combining some things into a single script and working directly with python objects fetched from NCBI.

The current pipeline looks something like this:
[code]
What th

[2015-06-10 17:00] mbonsma commented on #46
Closing - we decided on an approach to deal with the issue causing this bug - see issue #47

[2015-06-10 17:00] #46 closed

[2015-06-10 17:32] JJ commented on #47
In the short term, I'll wait for someone with chops in Python to do it
(I'll try it myself if nobody does). But in the long run, have you heard
about Taverna? http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3692062/ You can
create workflows in many different languages and use it to connect many
local and remote tools.

[2015-06-10 17:35] mbonsma commented on #47
That is so cool! I'll definitely read up on Taverna.

[2015-06-10 22:00] daisieh commented on #46
@JJ, this is why I don't read the entire file in at once.

[2015-06-12 19:08] JJ commented on #47
This produces
[code]
A bit of massaging would be needed but I think it pretty much does what is needed, right?

[2015-06-14 23:29] mbonsma commented on #47
It looks good to me (and the test worked for me as well). So just so I make sure I understand what's going on: are regular expressions too slow to realistically work, or is it having huge intermediate files that's a problem?

[2015-06-15 05:35] JJ commented on #47
The problem is dealing with huge files using regular expressions. There are tools in BioPython to deal with it that do all the parsing for you, creating data structures where you only have to look in parts of the data structure you're interested, not through all the file (which is what "dumb" regexes do).
This could work too with intermediate files using the SeqIO module (Perl or Python) on them,

[2015-06-15 20:52] mbonsma opened #48 "Change filterByExpect.py to use SeqIO blast parser"
I haven't fully read up on this, but we should probably be using [Biopython's built-in blast parser](http://biopython.org/DIST/docs/tutorial/Tutorial.html#sec:parsing-blast) to deal with the blast output.
Here's why:
- Blast+ keeps changing, and each time the format of the output files changes as well, so the parser will be hard to maintain with regular expressions.
- It will be much quicker than

[2015-06-15 20:54] mbonsma commented on #47
Awesome. This has opened my eyes to many ways all of this could be improved (#48 for one). Thank you @JJ!

[2015-06-15 21:04] mbonsma commented on #48
For future reference: in the Blast+ options, including `-outfmt=5` will give you xml output.

[2015-06-16 05:27] JJ commented on #47
My pleasure!

[2015-06-20 20:22] darwinhang opened #49 "Can use bower to manage front end depencies"
I found this project from the list of mozillascience projects. It looks like most of the work is being done by Python, but Javascript is taking up the majority of this repo.

![screen shot 2015-06-20 at 2 52 43 pm](https://cloud.githubusercontent.com/assets/2671518/8268999/0b606ca0-175c-11e5-8da1-3c6bb9789e74.png)

cytoscape.js is being developed separately, so a Javascript package manager (such a

[2015-06-20 20:45] bitborn opened #50 "Andrew Clarkson: new volunteer via Mozilla Science Lab Collaborate"
Interested in learning about python for genome analysis<p><br><blockquote>This issue was created by @bitborn via <a href='http://collaborate.mozillascience.org'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2015-06-20 20:46] darwinhang opened #51 "Darwin Hang: new volunteer via Mozilla Science Lab Collaborate"
I'm a former geneticist (now web developer) looking to contribute to Open Source.<p><br><blockquote>This issue was created by @darwinhang via <a href='http://collaborate.mozillascience.org'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2015-06-22 15:51] mbonsma commented on #49
I agree. This happened because I thought it would be simple to just throw cytoscape.js into this repo. I was planning to just remove it completely, but what you're talking about sounds like a good solution, because, you're right, not everyone will want to use the visualization branch. @darwinhang, are you willing/able to implement this?

[2015-06-22 15:55] mbonsma commented on #51
Welcome! My name is Madeleine, I'm one of the project leads. I'm a Master's student at the University of Toronto in the physics department.

Thanks for your input already (#49)! Please feel free to make any other suggestions or jump in on an existing issue that looks cool. I'll try my best to clarify things if you have questions - this project is evolving a lot as we go.

[2015-06-22 15:57] mbonsma commented on #50
Welcome! My name is Madeleine, I'm one of the project leads. I'm a Master's student in the Physics department at the University of Toronto.

I'm continuing to learn a lot from contributors in this project about good ways to use python for genome analysis. Let me know if there's anything in particular in the issues that looks cool to you.

[2015-06-22 18:42] darwinhang commented on #51
Awesome. Thanks for the warm welcome!

[2015-06-22 18:43] darwinhang commented on #49
@mbonsma Yes, I'll set up a PR for this.

[2015-06-23 22:28] #51 closed

[2015-06-23 22:28] #50 closed

[2015-06-23 22:31] mbonsma commented on #48
@shirishgoyal, do you have any opinions on this? I don't really understand the whole class structure in Python, so if I were to do this I would be writing an entirely new script as opposed to tweaking things in `phage_file_2_2_30.py` and `filterByExpect.py`. It might be good for us to chat briefly so you can explain to me what those scripts really do :)

[2015-06-23 23:30] mbonsma commented on #48
I just pushed `filterByExpect_all_v2` (here's the [commit](https://github.com/goyalsid/phageParser/commit/4658c1373a7c8866a88a16042244f7d84b940b97)) which produces the same result as `filterByExpectPhages.py` but uses the NCBIXML parser.

[2015-06-24 10:35] shirishgoyal commented on #48
@mbonsma, it is just a way to organize basically and write DRY code. I will take a look at what you pushed in. My objective is mainly to turn this package into a suite like BioPython which focuses mainly on Phages/Virii even if it is a module that integrates with BioPython.

I do not have much understanding of Biology aspects but would love to learn as much as possible. This project was missing so

[2015-06-24 11:52] mbonsma commented on #48
@shirishgoyal Thanks, that would be great if you could take a look!

I agree that it would be nice to have the class structure like BioPython. I sort of understand how to use classes, but I don't understand the creation part. Thanks for your contributions already, they've been great and very helpful, and I'll do my best to answer any biology-related things I can.

[2015-06-24 11:58] shirishgoyal commented on #48
Can we use something like slack.com or hipchat for more real-time discussion?

[2015-06-24 14:07] mbonsma commented on #48
Sure, slack works. I made a [slack team](https://phageparser.slack.com/) - do I need to invite you now? (I haven't used slack before.)

[2015-06-24 14:38] shirishgoyal commented on #48
Yes, please send me an invite at shirish.goyal@gmail.com

[2015-06-24 17:21] mbonsma opened #52 "Extract genomes and info from ENA"
Currently there are two major databases that phage and plasmid info in this project is coming from: [NCBI](http://www.ncbi.nlm.nih.gov/) and [ENA](http://www.ebi.ac.uk/ena). Fetching data from NCBI is mostly taken care of (see issue #2 and `acc2gb.py`), but we also need to extract genomes and info from ENA, analogous to what's done in #2.

The accession numbers are things like `AL591985.1` and cor

[2015-06-29 14:34] darwinhang commented on #27
@mbonsma I'd be interested in working on this.

[2015-06-29 16:03] mbonsma commented on #49
Done - thanks @darwinhang!

[2015-06-29 16:03] #49 closed

[2015-06-29 16:50] mbonsma commented on #27
@darwinhang Awesome! That would be fantastic. I think there are a few different routes this could go depending on what you're interested in and feel like doing. This issue is closely related to #47 (Extract data from Python object generated with NCBI Entrez), and there's a twin issue for a different database (Issue #52), so if you want you could check out all three.

Also I just made a [flow chart

[2015-07-14 12:18] shirishgoyal commented on #35
Can you list steps how we got that link mentioned for "example" ?
Then we can derive a way to crawl page and seek info needed.

[2015-07-15 00:06] mbonsma commented on #35
@shirishgoyal - very good. Here's how I got the example file:

- From the [CRISPRdb home page](http://crispr.u-psud.fr/crispr/), click 'Browse CRISPRs; on the left panel.
- Scroll down to the entry 'Acidovorax avenae subsp. avenae ATCC 19860' and click it, which takes you [here](http://crispr.u-psud.fr/cgi-bin/crispr/SpecieProperties.cgi?Taxon_id=643561).
- Select the bubble under the 'Select Sequ

[2015-07-17 04:55] darwinhang commented on #27
@mbonsma Thanks for sharing the flow chart. It does seem like it would make sense to work on this issue and #47  at the same time.

[2015-07-20 18:25] mbonsma commented on #52
Turns out you can just use the ENA accession numbers to fetch straight from NCBI, so this issue is unneeded.

[2015-07-20 18:25] #52 closed

[2015-07-20 18:41] mbonsma commented on #27
@darwinhang - I made [`bac_info_parser.py`](https://github.com/goyalsid/phageParser/commit/73e88ae26c63c1a5320afb14f27d92ffdcc015d7) that uses `Bio.SeqIO.parse` to read in Genbank files. It could probably be improved to be more versatile - right now I have it just extracting the bacteria name and taxonomy and making a dictionary.

I think this can close issue #47 though. `Bio.SeqIO.parse` is the s

[2015-07-20 18:51] mbonsma commented on #47
Implemented `Bio.SeqIO.parse` in [`bac_info_parser.py`](https://github.com/goyalsid/phageParser/blob/master/bac_info_parser.py). Works like a charm, although there were a few cases where it raised an error when reading through a bunch of files downloaded from Genbank.

Also, it doesn't work on files that were processed using `trimGenbankDNA.py`, so I'll get rid of that function because it just com

[2015-07-20 18:51] #47 closed

[2015-07-21 06:10] JJ commented on #47
Great!

2015-07-20 20:51 GMT+02:00 mbonsma <notifications@github.com>:

--
JJ

[2015-10-09 21:07] mbonsma commented on #35
Addressed in PR #54.

[2015-10-15 13:01] mbonsma commented on #35
Solved with PR #54 - `extract_CRISPRdb.py`

[2015-10-15 13:01] #35 closed

[2016-02-05 11:01] mbonsma opened #55 "Roadmap"
## PhageParser Overview

The goal of the Phage Parser project is to create curated datasets and develop reusable pipelines for analysis of publicly available bacteria and virus genomes. Check out the [ReadMe](https://github.com/goyalsid/phageParser/blob/master/README.md) and the [project description](https://www.mozillascience.org/projects/pathogens) on the Mozilla Collaborate platform for more in

[2016-02-05 14:40] mbonsma opened #56 "Review README with fresh eyes"
If you're new to the project, look over our [README](https://github.com/goyalsid/phageParser/blob/master/README.md) - feel free to suggest changes, fix typos, or flag anything that's unclear. Some parts may also be outdated.

[2016-02-05 14:44] mbonsma opened #57 "Need CONTRIBUTING.md"
We don't have any contributor guidelines! For now, it should just have these things:
- a friendly welcome message for contributors
- a note saying we accept contributions in any programming language, but most things have been done in Python
- a link to the README.md file

Possible future extensions:
- a description of issue tags we use
- a link to the Code of Conduct (we don't have one yet though)

[2016-02-05 15:04] mbonsma commented on #56
Thanks @brian-bot, that would be great! :smiley_cat:

[2016-02-05 15:11] #56 closed

[2016-03-14 16:20] #37 closed

[2016-03-14 16:24] mbonsma opened #59 "Add more info describing CRISPR system and diagram of locus to README.md"
The README needs a bit more information on the technical details of the CRISPR system. A high-level description geared at a lay-person would be great. It should go in the "About the CRISPR system" section of the README.
- Include [this diagram](https://github.com/goyalsid/phageParser/blob/master/CRISPR_locus_diagram.png) of the CRISPR locus

[2016-03-14 19:12] mbonsma opened #60 "Script to BLAST spacers against host genome"
### Motivation

Research has suggested that there may be cases when CRISPR systems are used for something besides immunity to foreign DNA - perhaps they could be regulating the host genome, or they might simply be inactive. A clue that one of these things might be happening is if there are spacers that come from their own host genome. To this end, we need functions to (A) BLAST spacers against the

[2016-03-14 21:21] WebDevByEdd opened #61 "WebDevByEdd: new volunteer via Mozilla Science Lab Collaborate"
Hey! I have done some Python testing before, so I can look at that, plus I'd love to help in any other way I can :) <p><br><blockquote>This issue was created by @WebDevByEdd via <a href='https://mozillascience.org/collaborate'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2016-03-14 21:49] mbonsma commented on #61
That would be awesome! You probably saw the issue about testing (#18) - there's been some discussion on it already. I'm not an expert on tests, but it sounds like there needs to be some cleanup first to parametrize some things, make classes, and make packages. If you think that's an easy task, I can make a separate issue as a "good first bug" that involves cleanup, and either you or someone else c

[2016-03-15 00:09] mbonsma opened #62 "Script to analyze BLAST output from host genome"
This is marked as a **good first bug** because, although it sounds complicated, it's computationally not as bad as it sounds - I think. There might be some tricky sections, but if a newcomer is attempting this, I'm available for questions anytime! Just comment in this issue.
### Motivation

Research has suggested that there may be cases when CRISPR systems are used for something besides immunity t

[2016-03-16 13:03] acabunoc commented on #57
http://mozillascience.github.io/working-open-workshop/contributing/

[2016-04-12 15:42] mbonsma opened #63 "Help develop a Code of Conduct!"
We're lacking a Code of Conduct - this is a document that explains the kind of community we want to have here and what to do if things go awry.

I'm looking for someone who'd be willing to help me craft a Code of Conduct. This could involve one or two Google Hangouts or just some emailing back and forth. Here's a possible template: [Mozilla Science Lab's CoC](https://www.mozillascience.org/code-of

[2016-04-13 12:52] mbonsma opened #64 "Discuss and research database options"
Ultimately this project will be a database that stores the results of all the analyses developed, that people can query in different ways.

I'm not familiar with databases or what options are out there, so I'd like to hear from people who know about or use databases - what are the pros and cons of different options? I'm available to email or Google Hangout to discuss.

[2016-04-16 23:52] lwgray opened #65 "Larry Gray: new volunteer via Mozilla Science Lab Collaborate"
My computational biology background could be an asset plus the codebase for this project has similarity to my side project<p><br><blockquote>This issue was created by @lwgray via <a href='https://mozillascience.org/collaborate'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2016-04-17 18:27] lwgray commented on #64
The only database I am familiar with is postgresql but maybe if we can decide what the criteria that we need meet then I can run it by our database guy in the Structure Group

[2016-04-18 19:26] mbonsma commented on #65
@lwgray, welcome! Computational biology is indeed a great asset. Are you interested in helping more on the science or code side of things, or both?

[2016-04-18 19:28] lwgray commented on #65
Both... I work in structural Computation biology so I have limited genomic
expertise but I am willing to learn.

I was looking at some of the issues last night but probably need to speak
with you over google hangout to get a better understanding.

Cheers,
Larry

On Mon, Apr 18, 2016 at 3:26 PM, Madeleine Bonsma <notifications@github.com>
wrote:

[2016-04-18 19:35] mbonsma commented on #64
PostgreSQL looks cool. What might be helpful is if we could find or someone could comment on some of the options and what situations they're applicable for. Something like [this Quora answer](https://www.quora.com/Which-database-should-I-use), and then we can try to match that to the project needs.

[2016-04-18 19:36] mbonsma commented on #65
We can definitely chat on Google Hangout sometime. Send me an email at m.bonsma@mail.utoronto.ca and we can set up a time!

[2016-04-20 13:43] dbonsma commented on #64
What will your data look like? i.e. is it very structured or very unstructured? How much data will there be?  What do you intend to do with it? Where will it reside? Who will maintain the database? How will you retrieve data from it?

Here is some good basic info on a few choices: https://www.digitalocean.com/community/tutorials/sqlite-vs-mysql-vs-postgresql-a-comparison-of-relational-database-man

[2016-04-27 00:54] mbonsma commented on #64
I think it would be considered fairly structured, but potentially changing every few days or weeks.

Not a lot: we're talking 1s to 10s of GB, and on the order of thousands of entries.

Ultimately it will reside on a server somewhere, and be maintained by me and my successors. It will serve as the back end for a GUI of some sort that anyone can access through the web.

No idea!

[2016-04-27 00:56] mbonsma commented on #64
I'm looking at [Heroku](https://dashboard.heroku.com/) as a possible place to host things (possibly just until our lab gets a server, possibly forever), and [it seems like they use PostgreSQL](https://devcenter.heroku.com/articles/getting-started-with-python#introduction).

[2016-04-27 12:32] #65 closed

[2016-04-27 13:07] mbonsma commented on #60
@lwgray will be taking a look at this issue!

[2016-04-28 16:19] lwgray commented on #60
I have made some progress on this issue... I will submit a pull request so we can discuss this more
1.  I have set up the script to check for the presence of the spacer file based on accession_id
2.  I have set up the script to check if the geneome file is current based on user specified parameter

A few import tasks need to finish.
1.  Fetch file is not downloaded or not up-to-date
2.  Perform Sp

[2016-05-01 19:00] pydevhacker opened #67 "Vikram Singh Sikarwar: new volunteer via Mozilla Science Lab Collaborate"
Hi, I am a python developer and love machine learning to solve real world problem. With this project I want to learn and contribute in field of diagnosis. <p><br><blockquote>This issue was created by @vsikarwar87 via <a href='https://mozillascience.org/collaborate'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2016-05-03 21:39] mbonsma commented on #67
Welcome @pydevhacker! We are always in need of Python developers. Just to be clear though, we're not planning to use any machine learning in the project, and diagnosis isn't the subject of the project - when we say "immunity", we're actually talking about bacterial immunity to viruses!

Is there anything in particular that caught your eye that you'd like to work on? We've marked some [good first b

[2016-05-04 06:07] pydevhacker commented on #64
There are many aspects to think about DB. SQL / NSQL/ Open source/ Structured / unstructured /volume of data/ frequency of data/ relation between data.

We can think of MongoDB also, Heroku has support for MongoDB as well.
In MongoDB data is stored as a Document (in form of JSON documents). Its easy to store and extract data. Its a salable solution.

If data schema is changing frequently then RBMS

[2016-05-04 06:20] pydevhacker commented on #67
Thanks @mbonsma
I have started with db discussion.

[2016-05-13 14:07] lpix opened #69 "lpix: new volunteer via Mozilla Science Lab Collaborate"
Hi!
I was hoping to find projects that I could do to get more programming experience in Biology, and I am glad I found this group!
I am new to GitHub and OpenSource Science/Programming in general, so I have to get used to the system first. I am looking forward to working with you!
Cheers,
Leslie<p><br><blockquote>This issue was created by @lpix via <a href='https://mozillascience.org/collaborate'>

[2016-05-13 14:37] mbonsma commented on #64
@pydevhacker, all great points. I don't think the schema will be changing much - new categories might be added occasionally, but what's already in place would be fairly static.

Here's a toy example of what a row in the database might look like:

| Organism  | CRISPR locus position  | CRISPR repeat sequence | *cas* genes |  Inferred CRISPR type | Phage database matches |
| ------------- |:--------

[2016-05-13 14:38] mbonsma commented on #69
Hi Leslie, welcome! It's great that you're interested! If you're looking for a good intro issue to tackle, check out issue #59. You could even just do the photo insert part and leave the rest for someone else if you wanted to.

I'd be happy to chat sometime over Skype or Google Hangout if you want to hear more about the project!

[2016-05-13 15:22] #67 closed

[2016-05-13 15:23] #61 closed

[2016-05-13 16:19] mbonsma commented on #60
@lwgray, I have a suggestion for a slight change of plan - I'm thinking about future scripts that will also need to check if the genome file is current, so what do you think about splitting this into two (or even three) functions?

One will do what you've already done:

[2016-05-13 16:53] mbonsma opened #70 "Find cas genes from Pfam database"
### Motivation

Bacteria or archaea with functioning CRISPR systems almost always have several ***cas* genes** somewhere in their genome. A few groups are actively developing a [classification system](http://dx.doi.org/10.1038/nrmicro3569) (ping me for pdf) for CRISPR systems based on the *cas* gene content.

This script will find the likely protein families for all the genes in an organism using

[2016-05-13 17:34] Maritimesailor opened #71 "Maritimesailor: new volunteer via Mozilla Science Lab Collaborate"
I am interested in advancing science and helping the medical, I am a college student studying computer science in the US.<p><br><blockquote>This issue was created by @Maritimesailor via <a href='https://mozillascience.org/collaborate'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2016-05-13 17:40] Maritimesailor commented on #64
@mbonsma Have you looked into mongodb as the database to use for the project? And I'm new here hello all!

[2016-05-13 18:00] dbonsma commented on #64
Is your database just going to consist of that one table that you gave us a sample of, or are there going to be multiple, related tables? I'm interested in some more detail on what is actually in your columns. Your sample shows variable comma-separated values in a single column. Are you planning to parse that out later? When you say there would be "many" more entries in some columns, and "many" mo

[2016-05-13 19:02] mbonsma commented on #64
@dbonsma - yes, I think a set of related tables might be better. "Many" is in the tens to several hundreds range.

Pinging @a8wright - relevant to our discussion.

[2016-05-13 19:30] mbonsma commented on #71
Hi @Maritimesailor, welcome! This project is about trying to learn as much as possible about the CRISPR system from data that's already publicly available. It doesn't really have any medical applications, it's more on the fundamental science side.

If you're looking for something to dive into, check out the [good first bugs](https://github.com/goyalsid/phageParser/labels/good%20first%20bug), and p

[2016-05-13 22:30] lpix commented on #69
Thank you @mbonsma! This looks like a good first project, I'd be happy to work on it. I don't have Google or Skype, I do have Facebook or e-mail is fine as well (I don't know if GitHub has any private messaging?)

[2016-05-14 01:51] lwgray commented on #60
It might be best to write a class so that other scripts can call the first set of functions

[2016-05-14 20:06] Maritimesailor commented on #71
Since I'm new to coding I think I'll look at  good first bugs. Thank you!

[2016-05-14 21:01] Maritimesailor commented on #29
I'll look into this issue

[2016-05-15 09:44] lpix commented on #59
I have added more info on the CRISPR system and included the diagram.

[2016-05-15 17:35] mbonsma commented on #29
@Maritimesailor, we can chat about this if you like. A few people did some stuff already, so it's more about modifying existing scripts than making an entirely new one. Probably one of the more difficult "good first bugs", so feel free to ask for clarification.

[2016-05-15 18:57] mbonsma commented on #60
Good call. I'll revise this issue and make a new one to reflect that.

[2016-05-15 19:05] mbonsma opened #74 "Make class to check if bacterial/archaeal genomes are up-to-date"
Several scripts will want to know if the bacterial and archaeal genomes in our database are up-to-date. This class will contain some functions to (a) check if the genome is present and up-to-date and (b) download it from NCBI if necessary.

---
### The Class

@lwgray suggested a class instead of a script for this task, so the following should come in a class wrapper for easy access.

**Input:**
-

[2016-05-15 19:06] mbonsma commented on #74
Pinging @lwgray since you've made progress on this one.

[2016-05-15 20:15] #69 closed

[2016-05-15 20:16] mbonsma commented on #69
My email is m.bonsma@mail.utoronto.ca if you'd like to chat, but no pressure!

[2016-05-15 20:16] #71 closed

[2016-05-16 08:45] nicolanrizzo commented on #64
Another idea for hosting is [Amazon RDS](https://aws.amazon.com/rds/). Companies like AirBnb and FlipBoard are using it. For pricing read [here](https://aws.amazon.com/rds/pricing/).

I was thinking also that we can use a good [ORM](https://en.wikipedia.org/wiki/Object-relational_mapping) like [SQLAlchemy](http://www.sqlalchemy.org/): the database will be much more easy to maintain and change in f

[2016-05-16 14:34] pydevhacker commented on #64
@mbonsma If you are not concerned about real time data and transaction then NoSQL would be a good option. As per your data, document based db will work fine. Mongo DB or Couch DB will be a good option. You can add remove and update any column and it will not effect any change in DB option.

here data is limited and no frequent updates are happening then you can use simple db.
MySQL will also work.

[2016-05-16 15:06] #70 closed

[2016-05-17 02:18] mbonsma opened #75 "Join us at the Mozilla Science Lab Global Sprint, June 2-3"
The [Global Sprint](https://www.mozillascience.org/global-sprint-2016) is a two-day hackathon where researchers, coders, librarians, and the public from around the globe hack on open science and open data projects to further research on the web. There are currently 30+ sites around the world signed up, spanning five continents.

[phageParser](https://github.com/mozillascience/global-sprint-2016/is

[2016-05-17 13:45] Maritimesailor commented on #29
I am right now looking at the code and I will get back you.

[2016-05-17 17:03] Maritimesailor commented on #29
Well what needs to be modified?

[2016-05-17 19:48] lwgray commented on #60
@mbonsma
Can we set up a hangout sometime this week to discuss the issue #60 again?

[2016-05-17 23:47] mbonsma commented on #60
@lwgray, is next week Tuesday (afternoon) an option? This week is a bit crazy for me unfortunately.

[2016-05-18 01:02] lwgray commented on #60
Sure no worries, whenever you are free... i am just procrastinating  thus
wirking on phageparser i stead of my research.

cheers
larry

On Tuesday, May 17, 2016, Madeleine Bonsma <notifications@github.com> wrote:

[2016-05-18 15:32] mbonsma commented on #29
The function [clean_phages.py](https://github.com/goyalsid/phageParser/blob/master/cleanPhages.py) already does this for two of the three databases, but not for the phagesDB database. The `clean_phages.py` function runs on CSV files created by `filterByExpect.py` or one of its variants (in progress).

I uploaded some example output files from this process under [data/output](https://github.com/goy

[2016-05-19 20:38] gxn1710 opened #78 "gxn1710: new volunteer via Mozilla Science Lab Collaborate"
Hello, everyone! My name is Gaurav, and I am a second-year undergraduate who is interested in the data processing aspects of this project. Right now, I am looking into the "good first bugs" and will hopefully start committing changes soon. Since I am more interested in the coding aspect of this project, are there any other tasks that you guys think I would be a good fit for?<p><br><blockquote>This

[2016-05-20 08:43] lpix commented on #62
I would like to try this out, but I am going to need help. I am going to update here with questions.

[2016-05-25 15:09] mbonsma commented on #78
Hello Gaurav, welcome! You're right, anything marked [good first bug](https://github.com/goyalsid/phageParser/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+bug%22) or [code](https://github.com/goyalsid/phageParser/issues?q=is%3Aissue+is%3Aopen+label%3Acode) would probably be up your alley. Ping me or send me an email at m.bonsma@mail.utoronto.ca if you want to chat more in depth!

[2016-05-25 15:10] mbonsma commented on #62
@Ipix, awesome!

[2016-05-25 15:31] lwgray commented on #62
Hi @lpix I can also help if you run into any technical problems...

[2016-06-02 02:29] #78 closed

[2016-06-02 02:51] mbonsma opened #79 "Automate use of CRISPRfinder"
Because we rely so much on the [CRISPRdb database](http://crispr.u-psud.fr/crispr/), it would be nice to use their CRISPR annotation software on user-submitted genomes as well.

They have a tool called [CRISPRfinder](http://crispr.u-psud.fr/Server/) which, as far as I know, can only be used from the web interface. But if someone with API / web experience can find a workaround, that would be great!

[2016-06-02 13:58] mbonsma commented on #2
I think `getAccession` is good as it exists now, and if we happen to need to modify it to work with a future workflow we can do that (and make a new issue). So, I'm closing this as finished. Thanks @shirishgoyal, @JJ, and @BillMills for all the awesome work!

[2016-06-02 13:58] #2 closed

[2016-06-02 14:33] mbonsma opened #81 "Convert CRISPR_db_parser.py to command line input"
The script [`CRISPR_db_parser.py`](https://github.com/goyalsid/phageParser/blob/master/CRISPR_db_parser.py) is currently set up with the input filename hardcoded [here](https://github.com/goyalsid/phageParser/blob/master/CRISPR_db_parser.py#L16). This should be changed so that it can be run from a command prompt as

[code]
or
[code]

The function [acc2gb.py](https://github.com/goyalsid/phageParser

[2016-06-02 15:48] mbonsma opened #83 "Convert BLAST_loop.py to command line input"
The script [`BLAST_loop.py`](https://github.com/goyalsid/phageParser/blob/master/BLAST_loop.py) is currently set up with the directory hardcoded [here](https://github.com/goyalsid/phageParser/blob/master/BLAST_loop.py#L21). This should be changed so that it can be run from a command prompt as

[code]

The function [acc2gb.py](https://github.com/goyalsid/phageParser/blob/master/acc2gb.py) operates

[2016-06-02 18:39] aays commented on #83
Hey @mbonsma! I'm still a little new to programming command line arguments, but does replacing that hardcoded directory with the following two lines work?

`for arg in sys.argv:`
   ` directory = arg `

[2016-06-02 18:41] mbonsma commented on #83
Fixed in PR #84.

[2016-06-02 18:41] #83 closed

[2016-06-02 18:43] aays commented on #83
Got it! That looks like a much more elegant solution too.

[2016-06-02 19:05] mbonsma commented on #83
@aays yes, I think you're right! Sorry for the traffic jam, we were working on that but forgot to comment as such.

[2016-06-02 19:06] mbonsma commented on #81
@sina-sed and @lisajguo are working on this!

[2016-06-02 20:36] mbonsma commented on #3
Here is an [example phage genome file](https://github.com/goyalsid/phageParser/blob/master/data/NC_020879_phage.gb) that would be returned from `acc2gb.py`. The function described in this issue would use this example file as input.

[2016-06-02 21:31] mbonsma commented on #79
From the output page, what we want are all the files for each detected CRISPR locus. Here's an [example](https://github.com/goyalsid/phageParser/blob/master/data/NC_015138_Crispr_1.txt) of one. In the output of CRISPRfinder from [this file](https://github.com/goyalsid/phageParser/blob/master/data/NC_000853.fasta), there are 7 CRISPRs and 1 questionable CRISPR, and we want the 'CRISPR properties' f

[2016-06-02 21:37] mbonsma commented on #79
Also check out PR #54 and the function there, I think that has overlap with what we're trying to do here.

[2016-06-02 23:52] neaGaze commented on #81
Hey ! I am starting to work on this project, thought this issue is a very good icebreaker. I've already cloned and fixed the issue; just need to upload. Can you please brief me in uploading the modified code @mbonsma  ? Thanks !

[2016-06-03 00:34] mbonsma commented on #81
Hi @neaGaze, thanks!

In order to upload your changes, these are the (approximate) steps:

If you cloned goyalsid/phageParser directly, it's probably easiest to create the file directly in GitHub if you're new to Git.

1. Fork [goyalsid/phageParser](https://github.com/goyalsid/phageParser) by clicking the button on the top right that says 'Fork'. This will take you to your own copy of the reposito

[2016-06-03 02:31] mbonsma commented on #81
Fixed in PR #87. :+1:

[2016-06-03 02:31] #81 closed

[2016-06-03 11:56] mbonsma commented on #62
@lisajguo, I added a [file](https://github.com/goyalsid/phageParser/blob/master/data/CRISPR_locus_positions.csv) with CRISPR locus start and end positions for each organism.

[2016-06-03 14:51] mbonsma opened #89 "Script to BLAST antiCRISPR genes against host genome"
1. Download antiCRISPR gene sequences
2. BLAST against genomes

This can be two functions: the first to download the antiCRISPR genes, and the second to BLAST.

The second function should take an accession number for an organism (i.e. NC_000853) and blast the known antiCRISPR genes, saving the output as XML.

Issue #60 is similar but for spacers - look there for more info!

[2016-06-03 14:52] mbonsma commented on #89
@aays, this is for you!

[2016-06-03 15:32] aays commented on #89
I just realized this -- it appears that all the accession numbers for the antiCRISPR genes bring up protein sequences and not nucleotide sequences when searched with Entrez. Would I be using tblastn then to BLAST them against genomic data? Or is there something I'm missing?

[2016-06-03 15:37] mbonsma commented on #89
@aays good point. I'll ask April (whose lab got these sequences) if she recommends nucleotide or protein blast. If nucleotide, we'll need to get the nucleotide sequences from them as well.

We could try, in the meantime, using blastp (protein blast) on the translated coding regions of each organism. The genbank files ([example here](https://github.com/goyalsid/phageParser/blob/master/data/Genbank_

[2016-06-03 15:39] mbonsma commented on #89
Issue #70 is linked to a function that, among other things, extracts the protein translations from a genbank file. You could probably re-use some of this! Or even split it into chunks that can be re-used.

[2016-06-03 15:40] mbonsma commented on #89
Here's the function: [PFAM_db.py](https://github.com/goyalsid/phageParser/blob/master/PFAM_db.py)

[2016-06-03 17:52] mbonsma commented on #64
ER diagram from @dbonsma:

![image](https://cloud.githubusercontent.com/assets/5651370/15787773/221e3280-2992-11e6-9329-ae0caddfbeb1.png)

[2016-06-03 19:26] mbonsma commented on #89
[This blast syntax](https://github.com/goyalsid/phageParser/blob/master/BLAST_loop.py#L33) should still apply, you'd just have to change `db = 'nuccore'` to `subject = 'bac_genome.fasta'`

[2016-06-03 19:27] aays commented on #89
Got it!

[2016-06-04 00:24] neaGaze commented on #3
Hi @mbonsma ! I'm trying to understand the issue here. Can you help me with that? Since I have a very limited knowledge in biology, I think it might be much easier if you could present an example of the function`findNeighbours(startPosition, endPosition, n, m)`. For Eg: in this [input file](https://github.com/goyalsid/phageParser/blob/master/data/NC_020879_phage.gb) what portion of the data do we

[2016-06-04 08:15] JJ commented on #2
Thanks, Madeleine.

2016-06-02 15:58 GMT+02:00 Madeleine Bonsma <notifications@github.com>:

--
JJ

[2016-06-06 12:25] mbonsma commented on #3
@neaGaze, the part of the file we care about in this case is the DNA sequence which starts [here](https://github.com/goyalsid/phageParser/blob/master/data/NC_020879_phage.gb#L4049).

Here's an example:
[code]

This would return these lines from the file (minus the base number), starting at [base 121](https://github.com/goyalsid/phageParser/blob/master/data/NC_020879_phage.gb#L4051) and ending with

[2016-06-06 17:40] aays commented on #89
I'm about ready to upload phageblast.py, which addresses the second part of the problem and is more or less ready to go -- however, I keep encountering a 400 Bad Gateway error, which the report indicates has to do with fetching the organism's genome given an accession number in the command line arguments. I'm going to try troubleshooting further after I leave the lab today, but in the meantime do

[2016-06-07 13:13] mbonsma commented on #89
I'm not sure what that is. What command is giving you the error? Is it blast?

The genome you blast against should already be downloaded from the script's perspective, so you only need to fetch the protein sequences.

[2016-06-07 15:29] aays commented on #89
Ah, I misunderstood! I included a command to fetch the genome, and that was what kept giving me an error, but if the genome is already downloaded from the script's perspective then that isn't necessary in the first place. I assumed that the function taking an accession number for an organism as input involved the genome being downloaded as part of the script.

[2016-06-07 15:35] aays commented on #89
I should add that for some reason, using cat <input file> in the bash command kept giving me blank .xml files as output, but switching that to echo <input file> did the trick. I feel like this is a bit of a clumsy workaround, and if that is the case, any advice would be appreciated!

[2016-06-08 23:27] neaGaze commented on #3
Hi @mbonsma  I have submitted the patch. Could you please check them if they are correct? Thanks!

[2016-06-09 00:57] mbonsma commented on #3
Thanks @neaGaze, I will take a look this weekend! :+1:

[2016-06-13 01:10] mbonsma commented on #3
@neaGaze, it looks good! Just a couple things:

- right now the four input numbers (`startPosition, endPosition, n, m`) are hardcoded on line 18 of `getGenomes.py`, and since these will change each time it's used, could you make them input arguments instead?
- can you add a short docstring to the getGenomes.py function describing usage?
- can you open a pull request with your changes to the main r

[2016-06-13 03:28] neaGaze commented on #3
HI @mbonsma Thanks for reviewing. `getGenomes.py` is just an example of how the feature can be used. The real thing is inside the folder: `parsers/genome_extractor.py`. I have written some docstring in that file including the usage. I believe that I have shown the usage instruction in that file too, however if you believe that there is a need for some explanation beside that please let me know. La

[2016-06-28 15:18] mbonsma commented on #3
Hi @neaGaze, sorry for the very slow reply! [Here's](https://github.com/goyalsid/phageParser/pulls) where the pull request should end up - I don't see it there, perhaps you can link to your PR?

[2016-06-28 23:12] neaGaze commented on #3
Yaa I'm sorry! I thought the request was submitted but I was wrong. Now
it's done I guess.

Regards,
Nigesh

::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

[image: --]

Nigesh Shakya
[image: https://]about.me/neaGaze
 <https://about.me/neaGaze?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

On Tue, Jun 28, 2016 at 10:18 AM, Madeleine B

[2016-07-06 23:27] mbonsma commented on #3
Fixed in PR #94.

[2016-07-06 23:27] #3 closed

[2016-07-28 16:00] #75 closed

[2016-10-10 14:55] bhanu546 commented on #62
Hey
Is this issue still open?
I would like to give it a try.

[2016-10-12 21:15] mbonsma commented on #62
Hi @bhanu546, yes it's still open! Let me know if there's anything I can do to help you get started.

[2016-10-13 13:27] bhanu546 commented on #62
In reference to this, what does the parse the output mean? Could you please explain the statement?

[2016-10-13 15:55] mbonsma commented on #62
@bhanu546, it's a bit vague, I agree. By "output" I mean the output of BLAST - for example, the XML file linked [here](https://github.com/goyalsid/phageParser/blob/master/data/NC_000853.xml). I'll update it in the issue text as well.

[2016-10-24 20:57] mbonsma opened #99 "Add CRISPR repeat and spacer sequences to database"
We want to include the sequences of CRISPR repeats and spacers in our database. Repeat sequences can be useful for comparing CRISPR systems between different species, since species with similar repeat sequences may have some shared CRISPR history. Spacer sequences are the link between viruses and bacteria - since spacers come from viruses or other foreign DNA, studying spacers can shed light on ho

[2016-10-25 20:00] mbonsma commented on #57
Here's a start, but it's very basic still: https://github.com/goyalsid/phageParser/blob/master/CONTRIBUTING.md

[2016-10-26 00:22] mbonsma opened #101 "Fill in organism names in database"
After importing data from CRISPRdb as described in Issue #99, the **Organism** table still needs more information filled in (just the organism name at present). This information can be fetched from NCBI using the bacterial accession number (i.e. `NC_000854`). We have a script that does this - [`acc2gb.py`](https://github.com/goyalsid/phageParser/blob/master/acc2gb.py). This returns a large file wi

[2016-10-26 23:01] mbonsma opened #104 "Fill in spacer-repeat join table and repeat-spacer-organism table in database"
After Issue #99, we'll have the tables **Organism**, **Spacer**, and **Repeat**. The interesting part is to make a record of the connections between all three. In an actual CRISPR system, an organism may have zero, one, or more than one CRISPR locus, and each locus will (usually) have several copies of the same repeat and two or more associated spacers (see the [README](https://github.com/goyalsid

[2016-10-29 09:30] mbonsma commented on #99
Example data: https://github.com/goyalsid/phageParser/blob/master/data/DRdatabase.txt

[2016-10-29 09:35] mbonsma commented on #99
Here's the CRISPRdb: http://crispr.i2bc.paris-saclay.fr/

[2016-10-30 14:13] djmoffat commented on #99
Resolved in #105

[2016-11-06 13:02] souravsingh commented on #63
Hello! I would like to help in this project.

[2016-11-10 01:08] mbonsma commented on #63
Hi @souravsingh, welcome! What kind of things are you interested in working on? [This section](https://github.com/goyalsid/phageParser/blob/master/README.md#where-can-i-get-involved) of the README lists a few areas we're focusing on now.

[2016-11-10 07:03] souravsingh commented on #63
@mbonsma I am looking to help in this issue.

[2016-11-11 18:03] mbonsma commented on #63
@souravsingh oh great! Sorry I mixed that up.

So as of now our code of conduct is just a link to Mozilla's code of conduct, but it would be nice to have our own, based on theirs. Do you have any suggestions for the kinds of themes that could be included?

[2016-11-11 18:08] souravsingh commented on #63
We can take ideas from here- https://github.com/ContributorCovenant/contributor_covenant

[2016-11-11 18:19] mbonsma commented on #63
That's a great one - maybe we can paste it in (with attribution) and start editing from there?

[2016-11-11 18:36] souravsingh commented on #63
Sure, I will send a PR right now

[2016-11-23 21:41] mbonsma commented on #101
Done in PR #107

[2016-11-23 21:41] #101 closed

[2016-12-01 18:13] mbonsma commented on #15
Closing this - implemented in [BLAST_loop.py](https://github.com/goyalsid/phageParser/blob/master/BLAST_loop.py).

[2016-12-01 18:13] #15 closed

[2016-12-01 18:16] mbonsma commented on #27
Related - [organism_name_update](https://github.com/goyalsid/phageParser/blob/master/organism_name_update.py) fetches just the organism name from the NCBI accession # and adds it to the [crispr.sqlite](https://github.com/goyalsid/phageParser/blob/master/crispr.sqlite) database.

[2016-12-01 18:16] #27 closed

[2017-01-24 20:22] #34 closed

[2017-01-24 20:25] mbonsma commented on #59
Fixed in #93

[2017-01-24 20:25] #59 closed

[2017-01-24 20:26] mbonsma commented on #64
We're starting with sqlite, possibly switching to PostgreSQL.

[2017-01-24 20:26] #64 closed

[2017-01-24 20:27] #63 closed

[2017-01-24 20:27] #57 closed

[2017-02-10 13:48] Ky5595 commented on #74
I would like to resolve this issue.
Is this still open ?

[2017-02-10 13:53] Ky5595 commented on #104
I would like to give it a try.
Is it still open ?

[2017-02-14 09:38] Ky5595 commented on #62
Hi @mbonsma
Is this issue still open?
I would like to solve it.

[2017-02-15 14:56] mbonsma commented on #62
Hi @Ky5595, yes it is!

[2017-02-15 14:58] mbonsma commented on #74
Hi @Ky5595, this one had some work done on it and I think is pretty much finished. Thanks for the heads up, I'll close this one.

[2017-02-15 14:58] #74 closed

[2017-02-15 14:59] mbonsma commented on #104
Hi @Ky5595, yes this one hasn't been done yet.

[2017-02-16 20:40] mbonsma opened #111 "Discuss database requirements and use cases"
# Use cases

These are some queries we might want to do:
* Input bacteria name(s), output CRISPR loci
* Input bacteria name(s), output inferred CRISPR type
* Input bacteria name(s), output CRISPR activation status (antiCRISPR genes, self-targeting spacers, mutations in cas genes)
* Input bacteria name(s), output phage matches to spacers
* Input CRISPR repeat sequence, output all bacteria containin

[2017-03-01 20:14] #89 closed

[2017-03-01 20:15] mbonsma commented on #89
Completed by @aays! :clap:

[2017-03-01 20:25] #48 closed

[2017-03-01 20:33] #99 closed

[2017-03-01 20:34] mbonsma commented on #104
Just noticed that this has been resolved in PR #105.

[2017-03-01 20:34] #104 closed

[2017-03-02 07:43] Ky5595 commented on #62
Hi mbonsma,
Thanks for the information.
I am going to work on it now.

[2017-03-10 20:33] #55 closed

[2017-03-11 17:13] mbonsma opened #112 "Roadmap"
## PhageParser Overview

The goal of the Phage Parser project is to create curated datasets and develop reusable pipelines for analysis of publicly available bacteria and virus genomes. Check out the [ReadMe](https://github.com/goyalsid/phageParser/blob/master/README.md) and the [project description](https://science.mozilla.org/projects/pathogens) on the Mozilla Collaborate platform for more infor

[2017-03-22 23:05] QuLogic opened #115 "Remove parsers.csv_file"
`CSVReader` wraps `csv` into an iterator and `CSVWriter` does some kind of buffering thing. But the reader could just use NumPy's `genfromtxt` or Pandas's `read_csv` or even the plain `csv`. Everything that uses `CSVWriter` also appears to write everything entirely, so it can just use `csv` directly.

[2017-03-22 23:17] mbonsma opened #116 "Move documentation and images to docs folder"
Files like the CRISPR locus diagram, the phageparser workflow, database schema, etc. should go in their own folder. They can still be linked in the README though.

[2017-03-22 23:37] #116 closed

[2017-03-28 21:42] mbonsma opened #119 "Add "accession" field to "restapi_anticrispr" model"
Once PR #118 is merged and we have a `models.py` script in the django-dev branch, we need to make a change to the `restapi_anticrispr` table. Right now it has two fields, `id` and `sequence`, and we should add a third field called `accession` to store the protein accession number. The schema is [here](https://github.com/phageParser/phageParser/blob/master/documentation/dbschema.svg).

An accession

[2017-03-28 21:46] aays opened #120 "Script that populates "restapi_spacer" and "restapi_repeat" tables using Django syntax"
There currently [exists a script](https://github.com/phageParser/phageParser/blob/master/addRepeatAndSpacersToDB.py) called `addRepeatAndSpacersToDB.py`that uses Python's `sqlite3` library in order to update both the Spacer and Repeat tables for downstream joins (i.e. the SpacerRepeatPair table) using `jointable.py`.

This script needs to be rewritten using Django's syntax and placed in the django

[2017-03-28 21:56] mbonsma opened #122 "Populate database with antiCRISPR accessions and sequences"
*This requires PR #118 to have been merged and issue #119 to have been resolved.*

We need to populate the database with the accession numbers and sequences for the known antiCRISPR genes we have so far.

Starting from [this list of accession numbers](https://github.com/phageParser/phageParser/blob/master/data/antiCRISPR_accessions.txt) from [this paper](https://www.nature.com/articles/nmicrobiol2

[2017-03-29 03:06] cemyld opened #124 "Populate database with Organism models"
A new method is needed for populating the organism table with models that include organism name and accession number. organism_name_update.py and acc2gb.py files are relevant in processing this information right now but the scripts have to be modified and merged into one which uses django's syntax to populate the API database. The created script can be added to django-dev branch.

[2017-04-04 19:39] morrme commented on #119
I would like to help, with mentoring, if possible. :)

[2017-04-04 20:16] mbonsma commented on #119
Hi @morrme, that would be great! Myself or @cemyld can answer any questions about this one.

The `models.py` file that needs to be modified is now in the repo [here](https://github.com/phageParser/phageParser/blob/django-dev/phageAPI/restapi/models.py) - it's the class `AntiCRISPR` that needs to be modified.

[2017-04-04 20:33] mbonsma opened #126 "Fix missed merge conflict in `models.py`"
When I was merging #118 I missed a conflict in [`models.py`](https://github.com/phageParser/phageParser/blob/django-dev/phageAPI/restapi/models.py) - I'm not sure which is the one you want to keep, @cemyld, but can you fix it up?

[2017-04-05 00:44] morrme commented on #119
@mbonsma thanks! following the conventions of the file and the accession columns in other classes, I will use maxLength=50.  I have also reviewed the schema, and it doesn't look like you'll need foreign keys set up, correct?

[2017-04-05 02:57] cemyld commented on #119
@morrme Hi, for this issue you don't need to set up foreign key. I think adding a CharField attribute similar to the one in Organism should suffice for now. You can open up a pull request when you're done and welcome!

[2017-04-05 03:04] morrme commented on #119
@cemyld @mbonsma Thanks to both of you for the welcome and support. The PR has been submitted to the `django-dev` branch  :)

[2017-04-05 20:31] mbonsma commented on #119
Woo! Done, thanks @morrme!

[2017-04-05 20:31] #119 closed

[2017-04-05 20:41] mbonsma commented on #124
This one was fixed in PR #125 right?

[2017-04-05 20:45] #126 closed

[2017-04-05 20:46] cemyld commented on #124
@mbonsma Yes the PR #125 creates the script for populating the Organism model.

[2017-04-05 20:46] #124 closed

[2017-04-05 21:17] mbonsma opened #130 "Implement decision tree for CRISPR type assignment"
Based on what little I know about decision trees and tables, it sounds like one could be useful for classifying things into CRISPR types.

What I don't know is how to actually implement such a thing - where does it go in our database? How do we use it?

I tried to make a decision table (it's a csv now), it can be found [here](https://github.com/phageParser/phageParser/blob/django-dev/documentation

[2017-04-05 21:17] cemyld opened #131 "Script for matching spacers, repeats and organism for populating the api."
After #120 #124 , a script is needed for matching spacer and repeat models so that SpacerRepeatPair objects can be created for adding to the database. For this script, jointable.py can be used for how to match the sequences. Two files needed for [`jointable.py`](https://github.com/phageParser/phageParser/blob/db9307afd88f6fd0b1c1d7b83e8a22c0bfa2133b/jointable.py) can be pulled remotely from web to

[2017-04-12 20:27] mbonsma opened #133 "Change 'filterByExpect_all_v2' to accept 'in' and 'out' directory as arguments"
The input and output directories are hardcoded in this file: [`filterBbyExpext_all_v2.py`](https://github.com/phageParser/phageParser/blob/master/filterByExpect_all_v2.py). It can be a generic BLAST xml parser if we remove that.

1. Change in and out directories to command line arguments
2. Delete `parsers/phage_file.py`, `parsers/phage_file_2_2_30.py`, `filterByExpect.py`, and `filterByExpectPhag

[2017-04-12 20:29] mbonsma commented on #133
Also, send PR to the 'master' branch, not 'django-dev'.

[2017-04-12 20:48] mbonsma opened #134 "Make phageParser logo!"
PhageParser could really use a sweet logo! Someone with graphic design interest or experience, can we talk about what that might look like? I don't have many ideas myself, but maybe it could incorporate some DNA and a cute bacteria or virus.

[2017-04-12 20:54] mbonsma commented on #115
I think these are all the instances where `CSVReader` and `CSVWriter` are used:

1.  [`find_accession.py`](https://github.com/phageParser/phageParser/blob/4e98ef123edacb6b33b255c3a1d6f7dc6ef1846a/parsers/find_accession.py)
2. [`genome_extractor.py`](https://github.com/phageParser/phageParser/blob/4e98ef123edacb6b33b255c3a1d6f7dc6ef1846a/parsers/genome_extractor.py)

After deleting phage_file and p

[2017-04-12 21:41] aays opened #136 "Investigate means of checking whether file is recent or downloaded"
PR #76 introduces Decorator, which checks to see whether a file a) exists and b) has been downloaded within a user-specified timeframe; if either condition is not met, the file is then downloaded.

It might be worth investigating NCBI's own version control system and augmenting Decorator's functionality with a means of checking to see whether a file's corresponding database entry has actually had

[2017-04-12 21:42] mbonsma opened #137 "Combine acc2gb.py and fetchseq.py, putting db and rettype as arguments"
The scripts [`acc2gb.py`](https://github.com/phageParser/phageParser/blob/master/acc2gb.py) and [`fetchseq.py`](https://github.com/phageParser/phageParser/blob/master/fetchseq.py) do essentially the same thing: they use the Entrez system to download data from NCBI.

We can combine them into a single, multi-purpose script by removing some of the hard-coded parameters and making them command line ar

[2017-04-13 13:24] mbonsma opened #138 "Data type mismatch when running database migrations"
When running `python manage.py makemigrations` followed by `python manage.py migrate`, I get this error: `django.db.utils.IntegrityError: datatype mismatch`. I cloned a fresh copy and still get the error. This is the exact sequence I did if anyone wants to reproduce it. Anyone know why this is happening, or if it's a problem just on my end?

[code]

This is the full error message:

[code]

[2017-04-13 15:43] mbonsma opened #139 "Create script to populate database with organism/antiCRISPR pairs"
## Motivation

Some phages carry anti-CRISPR genes which are capable of deactivating a CRISPR-Cas defense system in bacteria. Fun fact: anti-CRISPRs were discovered at the University of Toronto! Here's [one of the papers describing their discovery and how they work](http://mbio.asm.org/content/5/2/e00896-14.full).

It's also likely that some bacteria carry prophages that have anti-CRISPR genes, an

[2017-04-14 04:54] cemyld commented on #134
I made a couple of concept logos just to start it off.
![phageparser logos](https://cloud.githubusercontent.com/assets/6137137/25033532/befcf48a-20ac-11e7-8f83-5e1e6fbae7d7.png)

[2017-04-18 12:26] mbonsma commented on #137
Hi @morrme, definitely not just for first-timers! Go ahead!

[2017-04-18 12:26] mbonsma commented on #137
Although I should check with @aays - have you done anything yet on this issue?

[2017-04-18 14:52] morrme commented on #137
@mbonsma ok. if @aays gives the go-ahead, i've tried to do the steps on my end and the only one i'd need your help with is the docstring--properly defining the terms for your environment.

[2017-04-18 15:10] mbonsma commented on #137
@morrme I'd say go ahead with the PR then, upon further thought I don't think @aays has started this yet. What do you have so far for the docstring?

[2017-04-18 15:35] aays commented on #137
@morrme @mbonsma Easter weekend proved to be a bit busier than expected, and I indeed haven't gotten around to this yet - so I would say go for it!

[2017-04-18 15:58] morrme commented on #137
@mbonsma thanks! i waited a while to see if any other first timer would want to take on the challenge, because i definitely appreciate your group for providing issues like these. 👍

so as i'm not very familiar with the terminology, here's what I've been able to find via research:

db  is NCBI database ID
another reference defines it as

rettype is retrieval type. (or..."output file format"? )

The

[2017-04-18 18:35] mbonsma commented on #134
Yaayyyy I love these! @cemyld, awesome job!

[2017-04-18 18:46] mbonsma commented on #137
@morrme, that looks good. How about this:

[code]

And then, as you suggest, those two examples under `Examples`.

[2017-04-18 18:51] morrme commented on #137
@mbonsma but `retmode` is not a parameter, as it is hard-coded to 'text', correct?

[2017-04-18 18:53] mbonsma commented on #137
@morrme true, good point. We can leave that one out then.

[2017-04-18 20:05] morrme commented on #137
@mbonsma @aays ready for review :smiley:

[2017-04-19 13:06] #137 closed

[2017-04-19 20:57] mbonsma commented on #134
I added "phageParser" in text below the blue one so we can have something to upload for the Global Sprint, but we can keep modifying it if we want!

![phageparser 1](https://cloud.githubusercontent.com/assets/5651370/25201830/29f61c9e-2521-11e7-8874-bc79f5de280d.png)

[2017-04-19 21:05] mbonsma opened #141 "Join us at the Mozilla Global Sprint, June 1-2!"
FphageParser will be participating at the **[Mozilla Global Sprint](https://mozilla.github.io/global-sprint/
)** on **June 1 and 2, 2017**. This is a super fun event that takes place all around the world where people get together to work on open projects and generally making the internet more awesome.

Anyone is welcome to participate from wherever you're located, but there are also physical sites

[2017-04-19 21:28] mbonsma commented on #138
@cemyld, we couldn't figure this one out, but think it has something to do with the previous version of models.py that was migrated first.

[2017-04-19 21:30] #133 closed

[2017-04-19 22:37] cemyld commented on #138
@mbonsma I think the problem arises since the models file has been changed and not been migrated to the old database. I would suggest resetting the database first and then migrating. According to [this](http://stackoverflow.com/questions/15454008/how-to-reset-db-in-django-i-get-a-command-reset-not-found-error), resetting can be done by running `python manage.py flush`

[2017-04-19 22:41] cemyld commented on #134
@mbonsma looks good! I got the DNA vector file online so there might be copyright issues for it but I can try making a clone of it from scratch. Apparently [there](http://www.freepik.com/free-vector/abstract-dna-symbol_764997.htm) is a free license for it with attribution but I'm not sure how exactly we credit the site for it.

[2017-05-03 20:31] mbonsma commented on #138
That did the trick! Thanks @cemyld! Should we add this to a doc somewhere or modify the repo version so that it works on initial download?

[2017-05-03 20:31] #138 closed

[2017-05-08 19:52] morrme commented on #115
looks like `genome_extractor` (now getgenomes) is ok,

and `find_accession` would just need [this](https://github.com/phageParser/phageParser/blob/master/parsers/find_accession.py#L15) line changed to `csv.reader(blast_file, dialect=excel_tab)`

[2017-05-10 15:39] mbonsma commented on #115
@morrme sounds good - there's also [this](https://github.com/phageParser/phageParser/blob/4e98ef123edacb6b33b255c3a1d6f7dc6ef1846a/parsers/genome_extractor.py#L16) line in `genome_extractor` as well as the import statements in both files.

[2017-05-10 21:03] #120 closed

[2017-05-10 21:29] mbonsma opened #142 "Analysis: distribution of CRISPR loci sizes"
*This issue is a work in progress - feel free to comment and if something is confusing please say so, but I will be fleshing this out more in the next few weeks!*

--------------------

An interesting question we can answer with available data is what the distribution of CRISPR locus sizes is. People often quote a minimum and maximum (~1 to ~500), but what is 'normal' given all the available data?

[2017-05-10 21:30] aays commented on #136
Okay, so I've made a bit of headway here via Biopython.

Let's say our accession number is `NC_015138` - we can fetch the GB record for this with:

[code]

After the GenBank entry has been saved to `record`, we can access the 'date updated' field with

[code]

which in this case returns '07-APR-2017'. (The indexing is needed because while the GB entry is converted to a dictionary this way, it's th

[2017-05-12 14:04] #136 closed

[2017-05-17 21:32] mbonsma opened #147 "Create model for cas genes"
We want to store detected *cas* genes in the database so that we can determine CRISPR type based on them. Update [`models.py`](https://github.com/phageParser/phageParser/blob/django-dev/phageAPI/restapi/models.py) with a new jointable, `OrganismCas`, that has the following fields:

| Column:      | organism_id | accession | gene_id | start | end | evalue |
| ---------------- | -------------- | ---

[2017-05-17 22:10] mbonsma opened #148 "Analysis: open reading frames to CRISPR type"
CRISPR systems are classified into types based on which *cas* genes they have. The current [classification system](http://dx.doi.org/10.1038/nrmicro3569) (ping me for pdf) divides CRISPR systems into three classes, five types, and many sub-types.

We want to use this classification to infer what CRISPR type(s) are present in a given organism. This would provide a way to answer broad questions abou

[2017-05-17 23:24] mbonsma opened #149 "Script to determine CRISPR type from cas genes"
This is a reboot of #36 (solved in #40), with a few extra frills.

The classification system developed by [Makarova et al](http://dx.doi.org/10.1038/nrmicro3569) can be translated into a [decision table](https://github.com/phageParser/phageParser/blob/django-dev/documentation/phageParser-decision-table-crisprtype.csv) where the *cas* genes are the input and the CRISPR type is the output. To make t

[2017-05-17 23:25] mbonsma commented on #142
Also fun with this information would be distribution of spacer lengths and repeat lengths.

[2017-05-21 20:49] Abdelazeem-Elhabyan commented on #18
Hello  I am 5th year medical student with Good knowledge in Molecular biology , Genetics and CRISPR.
I have fair knowledge of genomics and intermediate level python
how can I help?

[2017-05-23 21:26] mbonsma opened #153 "Fix link to image in README"
The CRISPR locus diagram in our README in the [about CRISPR](https://github.com/phageParser/phageParser/blob/master/README.md#about-the-crispr-system) section has a broken link - it's been moved to a [documentation](https://github.com/phageParser/phageParser/blob/master/documentation/CRISPR_locus_diagram.png) folder. We need to edit the README to fix the link!

[2017-05-24 16:44] morrme commented on #153
I'll fix it!

[2017-05-24 16:57] morrme commented on #115
@QuLogic @mbonsma I created PR #146 with my fix.

[2017-05-24 20:49] mbonsma opened #157 "Move 'fetch.py' to the phageAPI subfolder"
So that the database filling scripts work.

[2017-05-24 20:51] mbonsma commented on #131
Solved in #150.

[2017-05-24 23:19] mbonsma opened #159 "Create .travis.yaml file now that Travis is enabled!"
Something like the example [here](https://docs.travis-ci.com/user/languages/python/).

[2017-05-24 23:31] mbonsma opened #160 "Fill in OrganismCas table with output of HMMER"
After #147 and #162, we need to filter the output of the HMMER matching into the `OrganismCas` table.

A table output from HMMER looks like this:

[code]

The ID in the `target name` column can be matched to a Profile ID in [this table]
(https://www.nature.com/nrmicro/journal/v13/n11/extref/nrmicro3569-s2.xlsx). If there is more than one target name that matches a single query name, then keep the

[2017-05-25 15:39] #153 closed

[2017-05-25 15:52] mbonsma commented on #18
Hi @Abdelazeem-Elhabyan, thanks for checking this out! It sounds like you would be well-suited to help on this project. Feel free to take a look at any open [issue](https://github.com/phageParser/phageParser/issues), but if you're interested specifically in testing, we're starting to outline what kind of framework and tests we'd need. Issue #159 might be a good one for someone with Python experien

[2017-05-31 16:36] mbonsma opened #162 "Implement HMMER matching of protein translations to cas genes"
The recent classification standard for CRISPR-Cas systems provided a list of protein profiles that we can use to find *cas* genes in bacteria and archaea.

* [x] Extract translations from downloaded genbank files and create a fasta file with just the translations (the header should have the cds start and end positions in it). This is so that we can run the translations through  [HMMER](http://www.

[2017-05-31 17:33] mbonsma commented on #79
I believe this is solved in PR #90 and with the script [CRISPRfinder.py](https://github.com/phageParser/phageParser/blob/master/CRISPRfinder.py).

[2017-05-31 17:33] #79 closed

[2017-05-31 17:34] mbonsma commented on #142
@aays, I think you were working on this one?

[2017-05-31 17:35] mbonsma commented on #148
@cemyld is working on the first five steps here, but the last one is still open.

[2017-05-31 17:43] #115 closed

[2017-05-31 17:55] mbonsma opened #164 "Convert to Python 3"
I think the easiest way to do this (please correct me if I'm wrong) is to try running scripts in a Python 3 virtualenv (see [Installation](https://github.com/phageParser/phageParser/blob/master/README.md#installation)), and fix whatever breaks.

Alternatively, if someone knows how, we can set up Travis with some tests and automate it that way.

Here is a starter list of scripts that haven't been t

[2017-05-31 18:00] mbonsma opened #165 "Rename capitalized scripts so that GitHub sorts nicely"
In the main repo view, GitHub sorts all the files alphabetically but also apparently sorts by first letter capitalized. We should un-capitalize the scripts that are showing up at the top so that files like README and CONTRIBUTING are correctly placed near the top.

The scripts in question:
* [ ] [BLAST_loop.py](https://github.com/phageParser/phageParser/blob/master/BLAST_loop.py)
* [ ] [CRISPR_db_

[2017-05-31 18:11] morrme commented on #165
@mbonsma I don't want to take all of your good first bug issues if you'd like to reserve them for new contributors, but feel free to ping me if you need it done!!!! ❤️

[2017-05-31 18:13] mbonsma commented on #165
@morrme thanks!! Let's leave this one until the end of Friday, and if no one comes for it by then, it's all yours!

[2017-05-31 18:14] morrme commented on #165
@mbonsma i really want to take on one of the script tasks, so this is probably my way of procrastinating lol

[2017-05-31 18:22] Abdelazeem-Elhabyan commented on #134
I think it needs to express CRISPR . You might open the double strand of DNA in the middle and attach small RNA that hybridise with one of DNA strand.

[2017-05-31 18:28] mbonsma opened #166 "Function to return CRISPR loci object from database"
It turns out that a reconstruction of a CRISPR locus will be a handy object to have for various analyses. We should make a function that does this that can be plugged in other places.

--------

In the current database schema, the table `organismspacerrepeatpair` links up organisms and which spacers and repeats they have in what order. (Here's the [schema](https://github.com/phageParser/phageParse

[2017-05-31 18:34] mbonsma commented on #134
@Abdelazeem-Elhabyan I like it! Or maybe we could draw a Cas protein attached somewhere on the double-stranded DNA.

[2017-05-31 18:36] morrme commented on #147
I'd be up for this one as well, if you'd like to put a "gfb expiration date" on it :)

[2017-05-31 18:41] mbonsma commented on #165
@morrme Oh I know the feeling - tidying is so much more appealing than taking on a whole new chunk...

But there are some super cool script ones you could do! Like #149 or #166!

[2017-05-31 18:44] mbonsma commented on #147
Go for it! (What does 'gfb expiration date' mean?)

[2017-05-31 18:59] morrme commented on #147
in the last issue, you mentioned you'd let the good first bug label remain until friday, so i just called it an 'expiration' of sorts.

[2017-05-31 19:00] #157 closed

[2017-05-31 19:02] mbonsma commented on #147
OHH gfb = good first bug, haha. I get it now! Well this one is a bit more essential than #165, so if you want to work on it right away go right ahead.

[2017-05-31 19:31] mbonsma commented on #162
Here's the HMMER [database](http://phageparser.cemyildirim.fastmail.com.user.fm/hmmdb.zip) with cas gene profiles from Makarova et al.

[2017-05-31 19:47] mbonsma commented on #162
Fixed in #170.

[2017-05-31 19:47] #162 closed

[2017-05-31 20:44] morrme commented on #165
i'm so scared to admit this but i've wanted #122 like forever .

[2017-05-31 20:46] mbonsma commented on #122
@morrme, it's all yours!

[2017-06-01 14:01] mbonsma commented on #149
I'm going to take a crack at this one, but if anyone else is interested ping me and we can collaborate!

[2017-06-01 14:25] mbonsma commented on #147
@morrme do you want to tackle this one? We're hoping to get started on #160 and #149 today which sort of depend on this one.

[2017-06-01 14:43] mbonsma commented on #147
@joelostblom is going to take a look at this.

[2017-06-01 14:45] QuLogic commented on #165
Or put them all in a subdirectory?

[2017-06-01 14:56] QuLogic commented on #164
Are you keeping Python 2 support?

[2017-06-01 15:02] mbonsma commented on #160
I'm sort of working on this one in parallel with #149.

[2017-06-01 15:03] mbonsma commented on #165
Yeah maybe that's better? Like a 'scripts' folder?

[2017-06-01 15:06] QuLogic commented on #165
Depends if you're making a package after? Probably should follow some sort of convention along those lines.

[2017-06-01 15:10] djmitche commented on #164
I'd suggest *not* keeping Python 2 support, since as I understand it this is not used as a library that must interact with other tools.  Every system has Python 3 installed these days, so while user upgrades might require making a new (Python 3) virtualenv, that's a one-time cost.

[2017-06-01 15:35] djmitche commented on #159
I can add this, but I'm not sure what to do in Travis without a test suite (#18)..

I suppose just running `python setup.py install` would be sufficient. It seems that is failing right now (iPython==6.0.0 isn't avilable).

Is there a simple, quick way to run all of the scripts?  That might at least help to suss out some basic Python-2/3 issues.

[2017-06-01 16:32] #164 closed

[2017-06-01 17:05] djmitche commented on #164
I don't know if this is done yet, without testing those scripts..

[2017-06-01 17:08] morrme commented on #147
OK if he needs any support let me know, I can jump in this afternoon and complete it.

[2017-06-01 17:09] morrme commented on #165
Good point.

[2017-06-01 17:10] cemyld commented on #159
@djmitche for now, the testing will mostly be used for checking the api. I've added two sample tests for creating or deleting models in restapi django app that is checked with travis for now. If you have any ideas for creating tests for checking the restful api that would be great!

[2017-06-01 17:12] wgma00 commented on #165
Hello, I can pick this issue.

[2017-06-01 17:18] djmitche commented on #159
ok -- so do the scripts not matter anymore, now that there's an API?

[2017-06-01 17:50] #165 closed

[2017-06-01 17:51] mbonsma commented on #159
@djmitche some of them won't be useful anymore, but mostly the scripts are still important for doing updates and adding analyses.

[2017-06-01 17:52] mbonsma commented on #147
Fixed in PR #174

[2017-06-01 17:52] #147 closed

[2017-06-01 17:58] wgma00 commented on #62
Hello, I can look into this.

[2017-06-01 18:22] mbonsma commented on #62
Woo @wgma00, thanks!

[2017-06-01 18:52] wgma00 commented on #62
I'm trying to create a sample XML file from #60 but I'm not sure what to pass as the second parameter to ``anticrisprblast.py`` . ``echo data/velvet-distinct-spacers.fasta python3 anticrisprblast.py <genome>``, is what I've managed to figure out so far.

[2017-06-01 19:01] mbonsma commented on #62
I think you want [`blast_spacer_to_host_genome.py`](https://github.com/phageParser/phageParser/blob/master/blast_spacer_to_host_genome.py) instead of `anticrisprblast.py`, for starters, but it looks like `blast_spacer_to_host_genome.py` has a single demo file hardcoded and probably won't do anything interesting.

You could ignore #60 for now and use [this example file](https://github.com/phagePars

[2017-06-01 19:02] mbonsma commented on #62
And I'll make an issue for `blast_spacer_to_host_genome.py` to fix it up a bit.

[2017-06-01 19:05] mbonsma opened #180 "Delete (?) Usage section from README until we can update it"
The [Usage](https://github.com/phageParser/phageParser/blob/master/README.md#usage) section of the README is super out of date and doesn't work as written anymore. I think we can delete it entirely until we can update it, but if anyone knows which parts specifically aren't working we can leave in the rest.

[2017-06-01 19:05] mbonsma commented on #159
Can we close this?

[2017-06-01 19:15] #111 closed

[2017-06-01 19:17] djmitche commented on #159
Yes -- now that I realize that the "interesting" stuff is the API, while the scripts are just for maintenance.  So if those aren't python-3 compatible it's not a big deal.

[2017-06-01 19:17] wgma00 commented on #180
So in the [Makefile](https://github.com/phageParser/phageParser/blob/master/Makefile#L71), the rule for `filter_by_expect` invokes ``filterByExpect.py`` as an executable. But this returns an error since the file normally only has read/write permissions. And when you do give it execution permissions, then use the following example  ``make filter_by_expect infile=data/blast-phagesdb.txt output=outpu

[2017-06-01 19:37] mbonsma opened #181 "Update model for cas-organism table and create model for cas genes"
These columns should be in the `casprotein` table:

| profileID | function | gene | group | type_specificity |
| -- | -- | -- | -- | -- |

And the `accession` and `gene_id` fields from `organismCas` can be combined into one field, the foreign key for the `casprotein` table.

| Column:      | organism_id | accession | gene_id | start | end | evalue |
| ---------------- | -------------- | ----------

[2017-06-01 19:47] mbonsma commented on #159
Ok cool, agreed.

[2017-06-01 19:47] #159 closed

[2017-06-01 19:50] mbonsma opened #182 "Update schema image so the columns aren't cut off"

[2017-06-01 20:18] djmitche opened #186 "Combine all populate scripts into a single workflow"
..and use argparse and all the other bells and whistles

[2017-06-01 20:22] wgma00 commented on #62
You mention that there should be an optional cut-off value, but I've read through the [http://biopython.org/DIST/docs/tutorial/Tutorial.html#sec:parsing-blast](documentation) you  posted but I don't see any mention of a "cut-off" value. How is this to be incorporated? Also are there any bounds on this value?.
I've started some work [https://github.com/wgma00/phageParser/commit/d2fcb3eda093fe449a8b

[2017-06-01 20:23] djmitche commented on #186
That means `phageAPI/populate_*.py`.  Also, we can remove addspacerandrepeat.py

[2017-06-01 20:57] #182 closed

[2017-06-01 20:57] #181 closed

[2017-06-01 21:00] mbonsma opened #189 "Remove hardcoded inputs in blast_loop.py"
These two scripts do basically the same thing:

* https://github.com/phageParser/phageParser/blob/master/blast_loop.py
* https://github.com/phageParser/phageParser/blob/master/blast_spacer_to_host_genome.py

We can probably combine them and change hardcoded inputs (settings, folders, etc) to options, similar to what we did in #137.

[2017-06-02 13:37] #130 closed

[2017-06-02 14:38] mbonsma commented on #189
Some BLAST use cases:

1. Blast spacers against host genome - `query=spacer_seq, subject=bac_genome, task = "blastn" `
2. Blast spacers against phage databae - `query=spacer_seq, db="phagedb", task = "blastn"`
3. Blast anticrispr genes - `cmd = 'tblastn', query=anti_crispr_seq, subject=bac_genome`

Roughly, these are the blast parameters that should be required:
[code]

And these should be optiona

[2017-06-02 14:39] mbonsma commented on #189
Also, maybe we should go for gold and also combine [`anticrisprblast`](https://github.com/phageParser/phageParser/blob/master/anticrisprblast.py) as well.

[2017-06-02 14:40] mbonsma commented on #189
And look for any other loose scripts that are doing special cases, and specify each special case as an example in the documentation for the script.

[2017-06-02 15:00] QuLogic opened #191 "Make everything follow PEP8"
See https://gist.github.com/zwolf/f2d5f5f08ff8e683ba7730f8dddfb804; 605 issues. The check will be installed in the pytest PR.

Are you going to use 79 character lines?

[2017-06-02 15:05] cemyld commented on #191
We can use 79 lines

[2017-06-02 15:27] aays commented on #189
I can take a stab at this!

[2017-06-02 15:35] mbonsma commented on #149
Okay so I'm not actually going to do this one, but here's some updated info:

The simplest version of this is a serializer (in [`serializers.py`](https://github.com/phageParser/phageParser/blob/master/phageAPI/restapi/serializers.py)) that takes a bacterial accession number and returns the set of CRISPR types for all its *cas* genes combined. This is also the least sketchy thing we can do, because

[2017-06-02 15:36] mbonsma commented on #149
A slightly fancier thing would be an additional check if any of cas3, cas9, or cas10 are present - these are the signature genes of Types I, II, and III respectively.

[2017-06-02 15:38] djmitche commented on #191
This is probably not a good sprint project, as it will cause major merge conflicts.  Maybe tomorrow? :)

[2017-06-02 15:38] djmitche commented on #191
I'm pep8'ing files as I work on them, though.

[2017-06-02 15:39] QuLogic commented on #191
Yea, this should be post-sprint.

[2017-06-02 15:45] #160 closed

[2017-06-02 16:27] cemyld opened #195 "Switching backend database to PostgreSQL"
phageParser is planning to run a public deployment of the API on heroku and therefore switching to a more production safe database needs to happen. The whole django database interface needs to be changed to PostgreSQL.

[2017-06-02 16:28] mbonsma opened #196 "Update bac_accession_list with all NCBI microbes"
Right now `data/bac_accession_list.txt` and `bac_accession_list_complete.txt` appear to be the same. I think the former is just CRISPR-containing ones, and the latter should just be every microbe possibly.

[2017-06-02 16:28] mbonsma commented on #196
I know now that I can't put emojis in issue titles :cry:

[2017-06-02 16:41] ayangromano commented on #62
Hello! Just wondering what the status for this issue is. I would love to assist!

[2017-06-02 16:53] wgma00 commented on #62
I wrote up some starter code on my master branch, but I won't have time contribute today. So feel free to take over if you'd like.

[2017-06-02 17:02] joelostblom commented on #142
I'll be working a bit on the the last bullet in about 2 hours, as soon as I'm done in lab. It won't be a function integrated into phageparser, more of an analyses with pandas (what I started yesterday), but maybe it can give some ideas for how to implement it later.

[2017-06-02 17:58] cemyld commented on #166
This function can be written as an additional field in the organism serializer to get the loci as lists of organismspacerrepeatpairs. An example function as a field can be found in `serializers.py`

[2017-06-02 17:59] mbonsma commented on #196
So it's weirdly complicated to just get *all* the accession numbers from NCBI for, say, bacteria. If anyone knows a good way, let me know.

[2017-06-02 18:15] mbonsma opened #199 "Figure out what exactly we should be downloading from NCBI in terms of bacterial and archaeal genomes"
We want all published genomes of bacteria and archaea, but unfortunately NCBI's standards and file system are not easy to understand. We've been skirting this by just using the data from a different [CRISPR database](http://crispr.i2bc.paris-saclay.fr/), but eventually we'd like to not rely on them and just download directly from NCBI so that we can update whenever we want.

If we could get a list

[2017-06-02 18:35] mbonsma commented on #199
For example, you could get all the `NC_` accessions for bacteria by pasting `NC_000000:NC_999999[ACCN] AND "bacteria"[Filter] ` into the NCBI search bar, downloading a ginormous fasta file, and parsing it for just the headers with the accessions.

[2017-06-02 19:32] mbonsma commented on #199
Some resources:
* [NCBI documentation on sequence IDs](https://www.ncbi.nlm.nih.gov/genbank/sequenceids/)
* [NCBI list of accession numbers](https://www.ncbi.nlm.nih.gov/Sequin/acc.html)

[2017-06-02 19:52] mbonsma commented on #199
[Entrez GUI notes](https://www.ncbi.nlm.nih.gov/books/NBK44863/)

[2017-06-02 20:28] mbonsma opened #203 "Change evalue field to float in OrganismCasPair table"
The [evalue field](https://github.com/phageParser/phageParser/blob/master/phageAPI/restapi/models.py#L80) in the `OrganismCasPair` table should actually be a float instead of an int - e-values (short for expect value) are floats, usually < 1.

[2017-06-02 21:06] #186 closed

[2017-06-02 21:55] mbonsma opened #204 "Bug in populate_casgenes.py"
The way I was splitting the `query` into `start` and `end` is not working in every case: I got this error when I started running it on more data:

[code]

The queries are like `384792..387492` or `complement(384792..387492)`, but it looks like that might not be all of them.

[2017-06-03 03:00] QuLogic commented on #204
How do you get the input data? Since it doesn't appear to create it / download it itself and there are no gbfiles yet.

[2017-06-03 23:45] QuLogic commented on #191
Using autopep8, the diff for this is pretty large (and it misses some stuff from flake8):
[code]
I don't really want to be on the blame for all those lines, so I think adding something like [`flake8-diff`](https://github.com/dealertrack/flake8-diff) to Travis might be a better option.

[2017-06-05 14:56] #203 closed

[2017-06-06 01:18] ayangromano commented on #62
Can you go over the 'tricky part' of the function? I've re-read what you wrote a few times, but am still not sure I understand it too well. I've also looked into [extract_CRISPRdb.py](https://github.com/phageParser/phageParser/blob/master/extract_CRISPRdb.py), but don't know how this is ran. Maybe if I can see what the output looks like, I'll have a better understanding of how to assign certain hi

[2017-06-06 02:40] cemyld commented on #195
Fixed in #207

[2017-06-06 02:40] #195 closed

[2017-06-06 02:40] #131 closed

[2017-06-06 03:10] cemyld opened #212 "Create a sample .env file"
Right now database location and other configuration variables are read from .env file. Since the file is specific for each environment, a sample file showing how it's used for running the system can be added. Idea came from[here](https://simpleisbetterthancomplex.com/2015/11/26/package-of-the-week-python-decouple.html) and it can also be used to supply travis config as well.

[2017-06-06 03:32] cemyld commented on #191
There's also the additional coding style information for django specific projects, we can try adding some of the checks they do into our workflow. https://docs.djangoproject.com/en/dev/internals/contributing/writing-code/coding-style/

[2017-06-06 14:14] mbonsma commented on #204
Here's what a problem area looks like on the input gb files:

[code]

And in the HMMER output files that this script is parsing:
[code]

So these are incomplete genes that run off the start or end of a contig. I think we can skip them.

[2017-06-06 15:09] mbonsma commented on #62
Hi @ayangromano, basically all this has to do is make sure that we're not counting 'hits' that are self-matches. When you blast a fragment of a bacterial genome against the whole genome, there will be one hit that is a self-match, and any other hits are the ones we're interested in.

extract_CRISPRdb.py is almost deprecated since we've moved to using a database, so probably the best thing to do in

[2017-06-06 15:46] #204 closed

[2017-06-06 16:56] #212 closed

[2017-06-06 18:00] mbonsma opened #217 "Add to script docstrings more info about processing steps"
We should document inside each script whenever we make a decision about data to include, exclude, simplify, or otherwise edit.

Scripts to check:
* [ ] populate.py
* [ ] populate_casgenes.py
* [ ] util/prunedict.py
* [ ] addcrisprtypes.py
* [ ] Pretty much anything in the [`parserscripts`](https://github.com/phageParser/phageParser/tree/master/parserscripts) folder, although some of these are not

[2017-06-06 18:03] mbonsma opened #218 "Create locus model and modify OrganismSpacerRepeatPair table to match"
New model: `Locus`

Fields:

| id | locus_start | locus_end | organism_id |
| -- | -- | -- | -- |

Fields in `organismspacerrepeatpair`:

| id | locus_id | repeat_id | spacer_id | order |
| -- | -- | -- | -- | --- |

[2017-06-06 18:04] mbonsma opened #219 "Update README with new usage now that we have a database"
Basically, the order in which to run scripts and how to get everything set up.

The scripts and the database are still a work in progress, but we can start documenting what we currently have.

[2017-06-07 03:21] #218 closed

[2017-06-11 21:55] aays commented on #199
@mbonsma I found [this link](https://www.ncbi.nlm.nih.gov/genome/doc/ftpfaq/) while trawling around NCBI's site - the answer to question 1 in particular seems relevant? I'm unsure of the actual file format it returns, but I'd hazard a guess it's in either fastq or bam format, both of which can be easily converted to fasta if need be.

[2017-06-12 07:56] danielliekal commented on #138
Running python manage.py flush as suggested above worked for me.

[2017-06-12 13:09] cemyld commented on #166
Fixed with #221

[2017-06-12 13:09] #166 closed

[2017-06-12 13:23] #189 closed

[2017-06-12 14:04] mbonsma commented on #199
@aays Yeah that looks great! I think I'll try the steps in question 1 and see if it does the trick. It's not a command line solution, but it's hopefully something that doesn't need to happen very often.

[2017-06-12 15:01] mbonsma opened #223 "Analysis: spacer matches to host genome"
*This is a bit of a rough draft, feel free to add thoughts in the comments.*

### Motivation

Research has suggested that there may be cases when CRISPR systems are used for something besides immunity to foreign DNA - perhaps they could be regulating the host genome, or they might simply be inactive. A clue that one of these things might be happening is if there are spacers that come from their ow

[2017-06-12 15:01] mbonsma commented on #62
I'm going to close this and redirect to #223 which is more current.

[2017-06-12 15:01] #62 closed

[2017-06-12 15:02] #60 closed

[2017-06-12 15:03] mbonsma commented on #60
`blast.py` (#201) is now a general-purpose blast script.

[2017-06-12 15:05] mbonsma commented on #223
Pinging @cemyld and @aays - what's the best workflow for this? I feel like we should just work directly from the database, right? How do we deal with needing to download genomes - is `fetch.py` appropriate for this?

[2017-06-12 15:31] mbonsma commented on #199
So it kind of worked, you get all the assemblies and a file called `md5checksums.txt` that has all the accessions. They're assembly accessions and not the Refseq accessions though - i.e. `GCF_000007325.1_ASM732v1`

[2017-06-12 16:20] cemyld commented on #223
I think the workflow would be as such:

iterate through each spacer in the database:
    iterate through each unique organism that has the spacer:
        blast spacer vs organism genbank file
        if more than one match:
              store results

Populating the organismcas table already downloads the genbank files however fetch.py can make sure they're up to date or are not missing. I'm won

[2017-06-12 16:49] aays commented on #199
@mbonsma Darn, that's not good! I wonder if there's a way to find corresponding RefSeq accessions from that file? But that does seem like a bit of a convoluted solution, and it would be idea to query RefSeq itself in a similar fashion. Also, are the assemblies in any kind of usable format?

That being said, I tried using similar filtering on RefSeq and I think I'm on to something here. If we head

[2017-06-12 17:20] aays commented on #223
I think @cemyld's workflow above seems pretty reasonable! I don't think the output necessarily needs to be stored in the database - seems to be a bit more on the analysis side of things to begin with.

Given the findings in #199, though, we might have to work with genomic contigs instead of single GenBank records hypothetically containing an entire genome. That should be manageable though, and wou

[2017-06-21 21:00] mbonsma commented on #199
We could maybe use this [`ncbi-genome-download`](https://github.com/kblin/ncbi-genome-download) program and then maybe just write our own for our specific use case.

To get all bacterial genbank files, which is the current format we're using, this search works in the [assembly](https://www.ncbi.nlm.nih.gov/assembly) site:

[code]

So we'd just need to find the appropriate keywords to do that with

[2017-06-21 21:35] aays commented on #199
Having gone through the documentations, this looks like our best bet to me! It would only download complete bacterial genomes (and not contigs or scaffolds) and return GenBank + FASTA files. Could also be appended with a `--parallel n` argument before `bacteria` to speed up the process.

[code]

[2017-06-28 21:59] mbonsma opened #229 "Wanted: front-end developer to help us plan (and build) a front-end!"
We have been working hard on a database and some [cool demos](https://github.com/phageParser/phageParser/tree/master/demos) of analysis you can do with it. Our dream is to build a web front end so that lots of people can enjoy the data!

We are looking for someone (or multiple someones) who would like to discuss with us what it would take to build such a front end. Ideally, this person can help us

[2017-06-28 21:59] mbonsma commented on #229
Someone like @jdpigeon!

[2017-07-17 15:18] #134 closed

[2017-07-17 15:50] mbonsma opened #232 "Implement length cutoff for cas gene matches to reduce spurious matches"
We see lots more *cas* gene matches than we probably should, and the Maxwell and Davidson groups suggested this is probably because the HMMs are matching domains that are very common in other genes. We can reduce these by making sure we only keep matches that are about as long as the *cas* gene should be (something like >700 residues for Cas9, for example).

This should in principle be done for ev

[2017-07-17 15:52] mbonsma opened #233 "Specify number of mismatches for self-targeting spacers and use strict cutoff"
* [ ] Add a column to the self-spacer-match table that counts the number of mismatches.
* [ ] Exclude anything with four or more mismatches
* [ ] Plot with bins the total number of spacers that are exact matches, one mismatch, two mismatches, etc.

[2017-07-17 15:56] mbonsma opened #234 "Look into how to use groupings of cas genes as signature of a genuine gene casette"
*cas* genes should be found in bunches, for example at least *cas9 - cas1 - cas2* in Type II systems. In addition to #232 as a way to reduce false *cas* matches, we can look for groups of *cas* genes and exclude things that aren't in a group.

We're not sure what the best way is to find such groups - it could be enough to look for the specific genes for each type within some distance of each other

[2017-07-17 18:08] mbonsma opened #235 "Add prophage regions to chromosome visualization"
Use [this code](https://github.com/mbonsma/phageParser/blob/phaster/demos/Phaster.ipynb) or a variation of it to run Phaster's prophage finder on our organisms and add to the chromosome visualization.

We might want to add the prophage results to our database, but @cemyld you can decide if that makes sense or not.

[2017-07-19 20:23] mbonsma commented on #139
Pinging @aays and/or @cemyld - we should talk to Karen and Alan and see if they can provide us with an updated list of antiCRISPR genes.

[2017-07-19 20:52] mbonsma opened #236 "Add bacterial metadata to database"
So far we're only using bacterial and archaeal genomes from NCBI, which means they should have some additional metadata we can add to the database in the `organisms` table and use for analysis.

Currently, the `organism` table has columns `id`, `name`, and `accession`, where `name` is the latin genus and species name of the organism.

We can get increasingly complex with the metadata, and as we ge

[2017-07-19 20:56] #122 closed

[2017-07-19 20:58] mbonsma commented on #149
@cemyld has been doing some work on this and we're done the first step of just checking for cas3, cas9, and cas10.

[2017-07-19 20:59] mbonsma commented on #142
Done in [this demo notebook](https://github.com/phageParser/phageParser/blob/master/demos/Locus%20Number%20of%20Spacers%20Analysis.ipynb)

[2017-07-19 20:59] #142 closed

[2017-07-19 21:05] mbonsma opened #237 "Additions to antiCRISPR and organism-antiCRISPR-pairs tables"
We can find out from Karen and Alan which antiCRISPRs have been experimentally shown to be effective against which bacteria, and we can add this to the database as a field in the table that stores matches between antiCRISPRs and organisms.

In the antiCRISPR table itself, we should find out and add which CRISPR types and/or cas genes they specifically inhibit. This is also a sort of sanity check w

[2017-07-19 21:22] mbonsma opened #238 "Analysis: how do spacer loci correspond to cas gene cassettes?"
When we have a handle on what constitutes a *cas* gene group (#234), we can ask these kinds of questions:

* [ ] Do cas genes come with a specific spacer array, or can the same set of genes serve multiple
arrays?
* [ ] Does the number of spacer arrays match the number of *cas* gene groups?
* [ ] Are the *cas* genes right next to the spacer array? Or do they tend to be close to each other? We could

[2017-08-14 14:25] mbonsma commented on #199
It seems like every time I look for something on NCBI I find a different route. Anyway, I found this [genome browser page](https://www.ncbi.nlm.nih.gov/genome/browse/?report=2) from which you can download a summary file for all prokaryotes, say. The summary file has assembly accessions, chromosome accessions, and ftp links:

[code]

[2017-08-14 16:14] aays commented on #199
@mbonsma Oh hey, it's my model organism! That looks pretty awesome. I suppose one could write a script to iterate through downloaded summary files, pull ftp links, and download from those? Otherwise, I think the `ncbi-genome-download` program is also a solid option if integrated with `subprocess` or something along those lines.

[2017-08-14 16:36] mbonsma commented on #199
@aays oh neat! It was just the first one in the text file!

Yeah, I was thinking we could stick to the full genomes by pulling out the replicon sequence accession numbers and downloading those. Maybe the ftp links would also be fine, but if we use the accessions we can just use `acc2gb.py`.

[2017-08-15 18:54] mbonsma opened #239 "crisprfinder script not working for some examples"
I'm trying to use [`crisprfinder.py`](https://github.com/phageParser/phageParser/blob/master/parserscripts/crisprfinder.py) on a big file, but it returns no output even though running the same file manually on the [website](http://crispr.i2bc.paris-saclay.fr/cgi-bin/crispr/advSavefiles.cgi?FN=NC_011091.fasta&DIR=138.51.240.91_Aug_15_2017_18_50_44) seems to work fine.

[This bacteria genome](https:

[2017-09-18 02:32] VanitaW commented on #29
Hi!  I am a newbie with only class project experience in python.  Is this still open to work on?

[2017-09-20 22:11] mbonsma opened #242 "Loop through eukaryote genomes and run through CRISPRfinder"
Here are all (?) eukaryote genome accessions from NCBI: https://github.com/phageParser/phageParser/pull/241

1. [ ] Download corresponding genomes using `acc2gb.py`
2. [ ] Split into chromosomes, small enough to run with CRISPRfinder website
3. [ ] Loop through chromosomes using `crisprfinder.py`
4. [ ] (Optional but not necessary) parse output

[2017-09-20 22:19] mbonsma commented on #239
Update: the CRISPRdb website has a 67 million base limit for their system supposedly (although this doesn't apply if you upload your own file?), so we can split genomes into separate files for each chromosome and loop through them that way.

[2017-09-20 22:37] mbonsma opened #244 "Remove hardcoded inputs and outputs in collect_accessions.py"
`collect_accessions.py` (PR #243) has file names hardcoded in the input and output. It should be modified to:

* [ ] accept the input and output filenames as command line arguments, and
* [ ] have a docstring that explains what the arguments are and what the script does.

See [`crispr_finder.py`](https://github.com/phageParser/phageParser/blob/master/parserscripts/crisprfinder.py) for an example o

[2017-09-20 22:38] mbonsma commented on #29
Hello @VanitaW and welcome! I'm just looking through the comments and work on here and it looks like this one might actually be finished. I just added another `good first bug` though if you're interested in that one: #244.

[2017-09-20 22:38] #29 closed

[2017-09-20 23:57] VanitaW commented on #29
Thank you.

[2017-09-27 22:11] thisisjaid opened #245 "pip install -r fails on Ubuntu 16.04 w/ Python3"
It seems that pyscopg2 requires pg_config, otherwise fails to build. On Ubuntu 16.04 this can be solved by installing libpq-devel, packages/solutions for other OSes vary. We should add this to the install instructions.

There's also an additional error from python not being able to build wheels for everything (pip install wheel would solve that) but that's less important as it doesn't cause the in

[2017-09-28 09:01] thisisjaid commented on #245
Selenium seems to also be missing from the requirements and had issues with geckodriver missing as well when trying to use crisprfinder.py. We should take care of all of these ideally.

[2017-09-28 21:02] thisisjaid commented on #239
hi @mbonsma. I've been toying with this all day today as a tiny project and I have to say there's a lot of things broken with http://crispr.i2bc.paris-saclay.fr. I don't think the failure you're seeing in this script has to do with the number of base pairs you're allowed to submit to be honest as the file upload through the browser works fine. The clue I think is in the really long time it takes t

[2017-09-28 21:50] mbonsma commented on #239
Hi @thisisjaid, that'd be awesome!

1. Splitting by chromosome: as far as my limited knowledge goes, the accession numbers we've been using to download genomes return them in chromosome chunks --- each new chromosome would have a fasta header like this `> some title info blah blah`. Which fasta file were you using to test this out?

2. It would be great if you re-wrote it - we have no reason to us

[2017-09-28 22:32] thisisjaid commented on #239
Ah I see, I didn't realize when I grabbed the fasta file that it was actually for a single chromosome. The 'whole genome shotgun sequence' threw me off and I thought that was a full genome sequence. I was running it on NT_167065.1 which is chromosome 3R of the same fruitfly you were testing with.

So in that case we still have a problem as the fasta file I was running _was_ a single chromosome and

[2017-09-29 13:47] mbonsma commented on #239
That is strange indeed.

It wouldn't be the worst thing to split chromosomes into smaller chunks. After running through CRISPRfinder, we could check for any hits that were close to the cut point and re-do those with a different split site to be sure. I expect there wouldn't be very many to re-run - genomes are big and CRISPR loci are small :)

Also, we've been in touch with the makers of CRISPRfin

[2017-10-03 15:25] thegreyelephant commented on #244
Hi - can I work on this bug as part of Hacktoberfest?!

[2017-10-04 21:49] mbonsma commented on #244
@thegreyelephant sure, please do!

[2017-10-05 10:20] thisisjaid commented on #239
Yeah I was thinking along the same lines. We can split progressively ie: lines 0-2000 1000-3000 etc, parse the results on each run, dump them into a pandas table and then just drop duplicate rows at the end and it should do the job.

I am curious however to have a look at the perl script so if you can foward that to thisisjaid@gmail.com I'll have a look and see if we can use it.

[2017-10-05 10:57] thisisjaid commented on #244
Sorry I had kind of already addressed this as part of the Pandas rewrite PR :/

[2017-10-05 15:26] thegreyelephant commented on #244
@thisisjaid Oh - OK. No worries, I'll look for another beginner bug!

[2017-10-05 15:29] thegreyelephant commented on #180
I'll work on this one!

[2017-10-18 18:58] #180 closed

[2017-10-27 19:32] mbonsma opened #250 "Change crisprfinder.py to use perl script provided by creators"
(Assigned to @thisisjaid)

We got a copy of the source code for [CRISPRfinder](http://crispr.i2bc.paris-saclay.fr/Server/), and @thisisjaid was able to get it to work. So, let's change [`crisprfinder.py`](https://github.com/phageParser/phageParser/blob/master/parserscripts/crisprfinder.py) to run the perl script instead of submitting to the web interface, which is [buggy](https://github.com/phageP

[2017-11-03 02:28] QuLogic commented on #244
@mbonsma So close this?

[2017-11-03 13:55] #244 closed

[2017-11-03 14:20] mbonsma commented on #199
This ftp site (ftp://ftp.ncbi.nlm.nih.gov/genomes/GENOME_REPORTS/IDS/Bacteria.ids) has files for various groups of organisms in a very convenient table that we can parse into a list of accessions with [collect_accessions.py](https://github.com/phageParser/phageParser/blob/2bbde84bbd0987ef4793d562d7e8746c683f8ccf/parserscripts/collect_accessions.py). Thanks to @thisisjaid for finding this and makin

[2017-11-03 14:20] #199 closed

[2017-11-03 14:31] mbonsma opened #252 "Update extract_CRISPRdb.py to use local files instead of CRISPRdb website"
[extract_CRISPRdb.py](https://github.com/phageParser/phageParser/blob/master/parserscripts/extract_CRISPRdb.py) returns the start and end positions of CRISPR loci in bacterial genomes by searching the [CRISPRdb website](http://crispr.i2bc.paris-saclay.fr/) for the CRISPR properties result for a specific accession number. We're moving towards running CRISPRfinder locally, so we can remove the web s

[2017-11-03 14:52] mbonsma commented on #239
@thisisjaid was able to get the local version of CRISPRfinder working, but I think it's still a good idea to have this as an option if you're willing to work on it. So yes, please do submit a PR!

[2017-11-12 17:50] thisisjaid commented on #252
@mbonsma do you think this could go in the same script that actually runs the perl crisprfinder script? don't see much sense in having two fragmented scripts since the other one would be doing little other than running the perl script if this one is meant to do all the extraction?

more importantly, out of all the data that crisprfinder perl script returns, do we only care about being/end position

[2017-11-16 15:58] mbonsma commented on #252
@thisisjaid all good points. I would say we can lose `crisprfinder.py` entirely then because you're right, all we need is a shell command to run the perl version locally. We can keep `crisprfinder.py` as the web version and leave it like that.

Of the data that the crisprfinder script returns, we care about the spacer sequences, their positions, the repeat sequence, and the locus start and end pos

[2017-11-20 20:45] mbonsma opened #254 "Search for putative Acr proteins"
The Maxwell and Davidson groups have developed a method of searching for genes that might be anti-CRISPRs by hop-scotching between putative anti-CRISPR (*acr*) and putative anti-CRISPR-associated (*aca*) genes. [This review](https://www.nature.com/articles/nrmicro.2017.120) describes how they do it. We can help by automating this process. Here are the steps to take:

* [ ] Download the BLAST prote

[2017-12-06 21:43] mbonsma opened #256 "Use Binder to host live demo notebooks?"
I've never used [Binder](https://github.com/jupyterhub/binderhub) before but it sounds like it would be cool to get that working with our [demo notebooks](https://github.com/phageParser/phageParser/tree/master/demos).

[2017-12-06 22:28] mbonsma opened #258 "Edit installation section of README to better distinguish types of contributing / using"
As they stand, I don't think the [installation instructions](https://github.com/phageParser/phageParser#installation) can be followed exactly. @WxnChen11, you probably know what the gaps are.

Additionally, it would be great to have a separate set of instructions for a few different cases:

* [ ] Developers / contributors who want to play with or edit the database: for this, the instructions shoul

[2017-12-06 22:31] #141 closed

[2017-12-06 22:38] mbonsma commented on #196
Resolved with .IDS files from from ftp://ftp.ncbi.nlm.nih.gov/genomes/GENOME_REPORTS/IDS/, implemented in [collect_accessions.py](https://github.com/phageParser/phageParser/blob/master/parserscripts/collect_accessions.py).

[2017-12-06 22:38] #196 closed

[2017-12-06 22:58] mbonsma commented on #139
This will be a by-product of #254, but would still need the part that puts the results in the database.

[2017-12-06 22:58] #139 closed

[2017-12-07 00:09] mbonsma opened #259 "Research alternative algorithms for detecting CRISPR repeats and spacers"
CRISPRfinder has been giving us issues, so it would be good to investigate if there are alternatives that might work better.

These are all the CRISPR-detecting programs that I know of:
* CRISPRfinder
* MetaCRT
* PilerCR
* crispi CRISPR interactive database
* CRISPRAlign

I think, of this list, CRISPRfinder is still the best for our purposes, but if there are others out there we should find out.

[2017-12-07 15:58] mbonsma opened #260 "Subdivide into several repos"
It makes sense at this point to split this monolithic repo into a few separate repos that don't have much overlap (suggested by @patrick-wu).

Here are some possible divisions:

**phageParser/phageAPI**: repo for the Django app and RESTful API. I think that would be the [phageAPI](https://github.com/phageParser/phageParser/tree/master/phageAPI) folder and possibly [this](https://github.com/phagePa

[2017-12-07 16:00] mbonsma commented on #219
Replaced by #258.

[2017-12-07 16:00] #219 closed

[2017-12-07 16:08] mbonsma opened #261 "Make smaller sample database for contributing"
The full database right now isn't very big (~6 MB), but it will get bigger, and also generating the data from scratch using the `populate` scripts is a multi-day process. The easiest way to get going is to set up the environment and then restore the database from a backup copy. It would be nice to have a subsetted copy for playing with that is easy to access for new contributors.

Questions:
1. Sh

[2017-12-07 19:41] patrick-wu commented on #260
I'll try the article's method sometime this weekend with a dummy repo. once we find a working method, we can get to work on migrating.

here are my thoughts on the ones you listed:

**demo**: This one should be fairly straight forward and easy to move. We could probably start with this.
**phageAPI**: we should probably list out all the dependent files for the this one, because I think it's compose

[2017-12-07 19:47] mbonsma commented on #260
@patrick-wu I agree about the analysis one: it can be whatever's left over in the main repo after **demo** and **phageAPI** are moved out.

[2017-12-07 22:11] patrick-wu commented on #229
@mbonsma Just saw this while looking through older issues. To avoid duplicating issues, I'll just post whatever updates I get from my investigations here. For now, I'll limit my research purely on what tools we can use. After that, we should probably make a new repo for the front-end, where we can have very granular discussions on the layout of the UI 😃

[2017-12-07 22:28] patrick-wu opened #262 "Data Pipeline Architecture Overview"
We should groom over some of our scripts that
- scraps data from known data sources
- cleans said data
- populates our DB with said data

and answer the following questions:

- [ ] what are the capabilities of our current scripts?
- [ ] what are some capabilities we'd like to see in our data scripts in the near future?
- [ ] what is the frequency at which our scripts are running now?
- [ ] what is

[2017-12-07 23:13] jdpigeon commented on #229
I must have missed this. I'd be thrilled to help out. I can definitely help you guys figure out what to do and might be able to devote a weekend to coding.

[2017-12-08 14:53] mbonsma commented on #229
@patrick-wu Sure, here's a good place to discuss for now. I'll add 'front-end repo' to the list of new repos in #260.

@jdpigeon that would be awesome! Maybe we could all get on a call sometime in the new year (or before Christmas if it's not too crazy a time for you).

[2017-12-08 15:16] mbonsma opened #263 "Change issue labels / make new ones that are more useful"
This is sort of a circular thing to make an issue about, but I think our issue labels could be improved to better distinguish tasks for first-timers, tasks for specific skill sets, the priority level of issues, and the scope of issues.

I remember seeing somewhere that GitHub had a place where anything tagged `good first issue` was linked, but I can't find it back. Are there any other labels that

[2017-12-09 02:56] patrick-wu commented on #260
@mbonsma the method worked (for the demos folder)! Can you invite me to the phageParser organization (not just the repo) so that I can create the new repository for the notebooks?

[2017-12-19 21:59] mbonsma commented on #260
@patrick-wu done!

[2018-01-16 19:38] mbonsma opened #264 "CRISPRfinder database - locus start and end positions wrong"
Some of the CRISPR locus start and end positions reported in the CRISPR db results are apparently wrong. This affects a small number of organisms and I noticed it when I saw that in these cases, all spacers appear to be self-matches. To see the discrepancy, compare the results of the following two searches:

1. Run genome [NZ_CP008862.2](https://www.ncbi.nlm.nih.gov/nuccore/NZ_CP008862.2) through

[2018-02-05 23:56] mbonsma commented on #259
A new version of CRISPRfinder has been released, so we plan on continuing to use that!

[2018-02-05 23:56] #259 closed

[2018-02-06 00:30] mbonsma commented on #262
Here is the target data pipeline, referring to what we currently have:

**Input:** NCBI accession number (i.e. `NC_000853`).

1. If that accession isn't already in the database, download genome from NCBI ([`acc2gb.py`](https://github.com/phageParser/phageParser/blob/master/parserscripts/acc2gb.py)).
2. Add to `organism` table (basically just the [`populate_organism`](https://github.com/phageParser

[2018-03-19 22:06] mbonsma opened #268 "Create test for entire organism addition pipeline"
This can be a pretty simple, high-level test of the organism addition pipeline in `add_organism.py` - mostly just input a test accession number and make sure the database looks right at the end.

Ultimately we'll want something similar for any other models not touched by this script, but let's start here!

[2018-04-11 22:39] QuLogic commented on #263
`help wanted` and `good first issue`? https://help.github.com/articles/helping-new-contributors-find-your-project-with-labels/

[2018-04-13 11:55] FenghuJ commented on #245
Yes,I just install the phageParse and I use the firefox 52.7.3 instead of the newest one ,my system is Ubuntu 16.04,and it got into error that
`No such file or directory: 'geckodriver'`
`selenium.common.exceptions.WebDriverException: Message: 'geckodriver' executable needs to be in PATH`,so how can I fix this ? Can you give me some advice.

[2018-04-14 03:12] FenghuJ opened #271 "Help wanted about how to find the relationship of phage-bacterium"
Hi，
I am working on constructing bacteria-phage network with metagenomics data.Now I have extracted the spacer sequences and direct repeat sequences with Crass .But I am quite confused about how to use phageParse to help me construct the network , which script should I use  to get
1、the phage  species
2、the  bacterial species
3、the interaction between phage and bacteria
Could you please give me so

[2018-04-25 21:29] mbonsma commented on #271
Hi @FenghuJ, I just replied to your email! In the next week or so I also hope to update that portion of the pipeline so that it's clear what to do.

[2018-04-30 20:37] mbonsma opened #272 "Check links on README, fix or report broken ones"
It's been a while since we've gone through the README - it could use a read-through and some checking for things like broken links.

[2018-04-30 20:39] #271 closed

[2018-04-30 20:40] mbonsma commented on #268
Fixed in PR #269.

[2018-04-30 20:40] #268 closed

[2018-05-10 07:10] dnuka commented on #272
Hi! I would like to have this assigned to me for the MozSprint.

[2018-05-10 13:51] mbonsma opened #275 "Try out demo notebooks and report bugs / lack of documentation"
The Jupyter notebooks in the [demos](https://github.com/phageParser/phageParser/tree/master/demos) folder are supposedly set up to run just from the Heroku database and should only require having Python 3 and the appropriate Python packages listed in the import block. I have a feeling there are some broken things, however, so it would be great if someone new would like to try cloning the repo and

[2018-05-10 13:58] mbonsma opened #276 "Make a separate requirements.txt for the demos folder"
We're moving towards a split between the analysis arm of the project and the development arm, and so it would be good to also maintain separate dependencies for each. Right now [requirements.txt](https://github.com/phageParser/phageParser/blob/master/requirements.txt) applies to the development arm, so what we need is a new file, maybe `requirements_analysis.txt` (we can change the name when the n

[2018-05-10 14:13] mbonsma commented on #272
Fixed by @dnuka in PR #274. :tada:

[2018-05-10 14:13] #272 closed

[2018-05-10 15:51] mbonsma opened #278 "Add a wait function to the phaster demo notebook"
[Phaster](http://phaster.ca/), an outside program that we're using to find prophages in genomes, is occasionally giving a weird error where the API request `requests.get(apiurl)` returns `<Response [520]>`, then a few seconds to minutes later it returns `<Response [200]>`, the normal and correct response. This is probably an issue with Phaster and not us, but to get around it we could add a functi

[2018-05-10 19:17] QuLogic commented on #275
I think I had everything installed from before, so I can't say what's needed and what isn't. `Phaster` fails to download some data and `Repeat array class demo` loads a file that doesn't seem to exist, but the other demos work.

PS, `matplotlib.mlab` is mostly deprecated.

[2018-05-10 19:18] mbonsma opened #280 "Update demo notebooks to save images on AWS or in a different local / GitHub folder"
The Jupyter notebooks in the [demos](https://github.com/phageParser/phageParser/tree/master/demos) folder often have inline images generated by Python. These images create large and messy git diffs. Here are a few alternatives, but I'm not sure if it's worth changing what we have, or if so which is best:

* Save images to [AWS](https://devcenter.heroku.com/articles/s3) and then load them in using

[2018-05-11 04:05] yuzhoux commented on #278
hi @mbonsma , I see you use 'time.sleep(2)' in the third code cell at here:  phageParser/demos/Phaster.ipynb  Is this demo Juypter notebook the place you want to have "exponentially auto retry"?

[2018-05-11 13:41] mbonsma commented on #278
@yuzhoux, yes, exactly! The next block also does the same thing and it should be used there too.

[2018-05-11 14:50] mbonsma commented on #263
More ideas: https://github.com/lwjohnst86/prodigenr

[2018-05-11 17:35] aays commented on #275
@QuLogic Thanks for pointing that out - I've modified `Repeat array class demo` to avoid the file loading issue, and submitted a PR (#281)

[2018-05-23 22:05] mbonsma opened #284 "Update README to include contributors section following 'All Contributors' guidelines"
It would be awesome to acknowledge contributors in the README, and to do that we can use the [all-contributors](https://github.com/kentcdodds/all-contributors) specification which includes guidelines for how to do this and fun icons that indicate types of contributions.

To do this, modify our README with a **Contributors** section at the bottom, following [these guidelines](https://github.com/ken

[2019-01-29 13:38] mbonsma commented on #258
I added the section for point 2 (#287) since I was going through it myself on a new computer. The conda environment stuff is a bit buggy - perhaps we want separate `environment.yml` files for the different use cases.

[2019-03-21 07:22] ghost commented on #138
It works for me!
but I have to run```python manage.py createsuperuser``` to create a superuser again.

[2019-03-22 16:25] MarcPuckett commented on #264
I subscribed because I might have an interest in contributing. I like python, db's and complex problems.
new to genomics other than reading 'gene' and 'a life decoded'.

I'm going to try and get a handle on what your doing so I'll go dig for a while.

[2019-03-27 10:13] mbonsma commented on #264
Hi @MarcPuckett, sounds great! Let me know if there's anything I can do to aid your research.

[2020-02-12 01:22] bganglia commented on #275
@mbonsma I can work on this

[2020-02-12 01:30] bganglia opened #289 "Change instructions for installing xerces-c"
When I try to install on Ubuntu 18.04 with conda installed, I run into the following error:
[code]
This occurs even though I have already run ``sudo apt-get install libxerces-c3-dev``

This problem does not go away until I run ``conda install -c anaconda xerces-c``

[2020-02-13 15:52] bganglia commented on #289
I just wanted to link this issue to #275